<td ...attributes>
  <ProjectForm::Field
    @model={{@model}}
    @importData={{@importData}}
    @translationBase={{@translationBase}}
    @renderLabel={{@renderLabel}}
    @renderMargin={{@renderMargin}}
    @renderInput={{@renderInput}}
    @attr={{@attr}}
    @required={{@required}}
    @value={{@value}}
    @options={{@optons}}
    @noPlaceholder={{@noPlaceholder}}
    @update={{@update}}
    @convertValueTo={{@convertValueTo}}
  />
</td>
