<h3>{{t "ember-gwr.quarterlyClosure.components.departmentErrors.title"}}</h3>

{{#if this.isFirstQuarter}}
  <UkFlex
    @horizontal="between"
    @vertical="middle"
    uk-alert
    class="uk-margin-bottom uk-margin-remove-top uk-alert-default"
  >
    {{t
      "ember-gwr.quarterlyClosure.components.departmentErrors.maintenanceCost"
    }}
    <HousingStatLink />
  </UkFlex>
{{/if}}

<div 
  class={{if this.errors.value.errorList.length "uk-margin-bottom"}}
>
  {{t "ember-gwr.quarterlyClosure.components.departmentErrors.infoText"}}
</div>

<ModelErrors::List
  @errors={{this.errors.value.errorList}}
  @isRunning={{this.errors.isLoading}}
/>