<UkModal
  @visible={{@visible}}
  @btnClose={{false}}
  @escClose={{false}}
  @bgClose={{false}}
  @container={{this.config.modalContainer}}
  as |Modal|
>
  <Modal.header>
    <h2 class="uk-modal-title">
      {{t "ember-gwr.components.importModal.selectImportData"}}
    </h2>
  </Modal.header>
  <Modal.body class="uk-overflow-auto">
    <ul
      uk-accordion="collapsible: false;multiple: false; active: 0;"
      class="ember-ebau-gwr-import-building-list"
    >
      {{#each @import.originalData as |model index|}}
        <li>
          <a class="uk-accordion-title" href="#">{{t
              (concat "ember-gwr.models." @modelName)
              count=1
            }}
            {{inc index}}</a>
          <div class="uk-accordion-content">
            {{component
              (concat "import-modal/" @modelName "-data")
              model=model
            }}

            <LinkTo
              @query={{hash import=true index=index}}
              class="uk-button uk-button-primary uk-margin-medium-top uk-width-1"
            >
              {{t "ember-gwr.components.modelForm.importFromCaluma"}}
            </LinkTo>
          </div>
        </li>
      {{/each}}
    </ul>
  </Modal.body>
  <Modal.footer>
    <LinkTo
      @query={{hash import=false index=null}}
      class="uk-button uk-button-default uk-width-1"
    >
      {{t "ember-gwr.components.modelForm.cancelImport"}}
    </LinkTo>
  </Modal.footer>
</UkModal>
