{{#if this.import.error}}
  <div
    class={{if this.noImportData "uk-alert-warning" "uk-alert-error"}}
    uk-alert
  >

    {{! The aria-label attr results in a template-lint error for some reason: error  Cannot read properties of undefined (reading 'replace')  undefined}}
    {{! template-lint-disable}}
    <a
      aria-label={{t "ember-gwr.close"}}
      class="uk-alert-close"
      href=""
      uk-close
    ></a>
    {{! template-lint-enable}}
    <p>
      {{#if this.noImportData}}
        {{t "ember-gwr.components.modelForm.noImportData"}}
      {{else}}
        {{t "ember-gwr.components.modelForm.importError"}}
      {{/if}}
    </p>
  </div>
{{/if}}

<ValidatedForm
  @model={{if @validations (changeset @model @validations) @model}}
  @on-submit={{perform this.submit}}
  @on-invalid-submit={{fn (mut this.invalidSubmit) true}}
  @validateBeforeSubmit={{true}}
  class="validated-form"
  ...attributes
  as |f|
>
  {{#if this.import.isLoading}}
    <Loading />
  {{else}}
    {{#let
      (component
        f.submit
        type="submit"
        label=(t "ember-gwr.components.modelForm.save")
        disabled=(or this.isSaving @disabled this.showImport)
        loading=this.isSaving
        buttonComponent=(component "model-form/submit" color="primary")
      )
      (component
        "model-form/submit-errors"
        errors=(if
          (and f.model.isInvalid f.model.isDirty this.invalidSubmit)
          (array (t "ember-gwr.components.modelForm.validationError"))
          @errors
        )
      )
      as |Submit SubmitErrors|
    }}
      {{! template-lint-disable no-passed-in-event-handlers }}
      <ModelForm::Header
        @model={{@headerModel}}
        @modelId={{@headerModelId}}
        @projectId={{@projectId}}
        @modelName={{@modelName}}
        @modelDescription={{@headerModelDescription}}
        @statusConfiguration={{@statusConfiguration}}
        @import={{this.importData}}
        @modelHasImport={{this.modelHasImport}}
        @importAllData={{this.importAllData}}
        @modelStatusOptions={{@modelStatusOptions}}
        @nextValidStates={{@nextValidStates}}
        @onStatusChange={{@onStatusChange}}
        @onStatusCorrection={{@onStatusCorrection}}
        @getChangeParameters={{@getChangeParameters}}
        @getCorrectionParameters={{@getCorrectionParameters}}
        @getChangeHint={{@getChangeHint}}
        @modelStatusField={{@modelStatusField}}
        @translationBaseHeader={{@translationBaseHeader}}
        @translationBase={{@translationBase}}
        @submit={{Submit}}
        @submitErrors={{SubmitErrors}}
        @disabled={{@disabled}}
      />
      {{yield
        (component
          "model-form/field"
          model=f.model
          importedData=this.importData
          translationBase=@translationBase
          inputComponent=f.input
          registerDiff=this.registerDiff
          resolveDiff=this.resolveDiff
          disabled=@disabled
        )
        f.model
        this.importData
      }}
      <div class="uk-flex-inline uk-flex-nowrap uk-flex-top uk-margin-top">
        <Submit class="uk-flex-none" />
        {{#if @showImport}}
          <LinkTo
            @query={{hash import=false}}
            class="uk-button uk-button-default uk-flex-none uk-margin-small-left"
          >
            {{t "ember-gwr.components.modelForm.cancelImport"}}
          </LinkTo>
        {{/if}}
        {{#if (or (and f.model.isInvalid f.model.isDirty this.invalidSubmit) @errors)}}
          <div class="uk-margin-left uk-flex-inline">
            <SubmitErrors />
          </div>
        {{/if}}
      </div>
    {{/let}}
  {{/if}}
</ValidatedForm>
