<div class="uk-text-small {{this.statusClass.text}} uk-flex uk-flex-middle">
  <FaIcon class="margin-right-xs"
    @icon={{this.statusClass.icon}}
    @prefix={{this.statusClass.prefix}}
    @fixedWidth={{true}}
    @size="lg"
  />
  <div>
    {{this.quarterlyClosure.status.shortLabel}}
  </div>
</div>