<div class="ember-ebau-gwr-quarterly-closure-status">
  <div class="uk-flex uk-flex-middle">
    <div
      class="uk-text-bold uk-text-meta uk-text-emphasis uk-text-uppercase margin-right-xs"
    >
      {{t "ember-gwr.quarterlyClosure.status.label"}}
    </div>
    <FaIcon class={{this.statusClass.text}}
      @icon={{this.statusClass.icon}}
      @prefix={{this.statusClass.prefix}}
      @size="sm"
    />
  </div>
  <div class="uk-text-meta uk-text-emphasis">
    {{this.quarterlyClosure.status.label}}
  </div>
</div>