<div class={{configured-classes "diff-highlight"}}>
  <div class="uk-margin">
    <div class="uk-flex uk-flex-between uk-flex-bottom uk-margin-small-bottom">
      <span class={{configured-classes "diff-meta-text"}}>
        {{t "ember-gwr.components.projectForm.diff.existingData"}}
      </span>
      <button
        type="button"
        class={{configured-classes "button" "button-small"}}
        {{on "click" (fn @updateProjectField @current)}}
      >
        {{t "ember-gwr.components.projectForm.diff.apply"}}
      </button>
    </div>
    <input
      class="uk-width-1 {{configured-classes "input"}}"
      disabled
      readonly
      value={{@current}}
    />
  </div>
  <div>
    <div class="uk-flex uk-flex-between uk-flex-bottom uk-margin-small-bottom">
      <span class={{configured-classes "diff-meta-text"}}>
        {{t "ember-gwr.components.projectForm.diff.importData"}}
      </span>
      <button
        type="button"
        class={{configured-classes "button" "button-small"}}
        {{on "click" (fn @updateProjectField this.newValue)}}
      >
        {{t "ember-gwr.components.projectForm.diff.apply"}}
      </button>
    </div>
    <input
      class="uk-width-1 {{configured-classes "input"}}"
      value={{this.newValue}}
      {{on "input" this.updateNewValue}}
    />
  </div>
</div>
