<div class="uk-box-shadow-small uk-padding-small">
  <div class="uk-margin">
    <div class="uk-flex uk-flex-between uk-flex-bottom uk-margin-small-bottom">
      <span>
        {{t "ember-gwr.components.projectForm.diff.existingData"}}
      </span>
      <button
        type="button"
        class="uk-button uk-button-default uk-button-small"
        {{on "click" (fn @updateProjectField @current)}}
      >
        {{t "ember-gwr.components.projectForm.diff.apply"}}
      </button>
    </div>
    <input
      aria-label={{t "ember-gwr.components.projectForm.diff.existingData"}}
      class="uk-width-1 uk-input"
      disabled
      readonly
      value={{@current}}
    />
  </div>
  <div>
    <div class="uk-flex uk-flex-between uk-flex-bottom uk-margin-small-bottom">
      <span>
        {{t "ember-gwr.components.projectForm.diff.importedData"}}
      </span>
      <button
        type="button"
        class="uk-button uk-button-default uk-button-small"
        {{on "click" (fn @updateProjectField this.newValue)}}
      >
        {{t "ember-gwr.components.projectForm.diff.apply"}}
      </button>
    </div>
    <input
      aria-label={{t "ember-gwr.components.projectForm.diff.importedData"}}
      class="uk-width-1 uk-input"
      value={{this.newValue}}
      {{on "input" this.updateNewValue}}
    />
  </div>
</div>
