<div class={{unless @noMargin "uk-margin"}}>
  <label for={{@attr}} class={{if @required (configured-classes "text-bold")}}>
    {{t (concat "ember-gwr.projectForm.fields." @attr)}} {{if
      @required
      (t "ember-gwr.projectForm.required")
    }}
  </label>
  {{yield}}
</div>
