<select
  class="uk-width-1 uk-select"
  name={{@attr}}
  required={{@required}}
  ...attributes
>
  {{#unless @noPlaceholder}}
    <option value="">
      {{t (concat @translationBase "." @attr "Placeholder")}}
    </option>
  {{/unless}}
  {{#each @options as |optionValue|}}
    <option selected={{eq optionValue @value}} value={{optionValue}}>
      {{t (concat @translationBase "." @attr "Options." optionValue)}}
    </option>
  {{/each}}
</select>
