<div>
  {{#if this.fetchDwelling.isRunning}}
    <Loading />
  {{else}}
    <ModelForm
      @model={{this.dwelling}}
      @instanceId={{this.model.instanceId}}
      @validations={{this.DwellingValidations}}
      @onSubmit={{this.saveDwelling}}
      @errors={{this.errors}}
      @translationBase="ember-gwr.dwelling"
      @headerModel={{this.dwelling}}
      @headerModelId={{this.dwelling.EWID}}
      @projectId={{this.router.externalRouter.currentRoute.attributes.projectId}}
      @modelName="dwelling"
      @statusConfiguration={{this.statusConfiguration}}
      @showImport={{this.showImport}}
      @importIndex={{this.importIndex}}
      @modelStatusOptions={{this.dwellingStatusOptions}}
      @nextValidStates={{this.nextValidStates}}
      @onStatusChange={{this.transitionState}}
      @onStatusCorrection={{this.correctState}}
      @getChangeParameters={{this.getChangeParameters}}
      @getCorrectionParameters={{this.getCorrectionParameters}}
      @modelStatusField="dwellingStatus"
      as |Field changeset import|
    >
      <Field
        @attr="EDID"
        @type="select"
        @options={{this.entranceOptions}}
        @optionTargetPath="EDID"
        @optionLabelPath="label"
        @noPlaceholder={{true}}
        @required={{true}}
      />

      <Field
        @attr="floorType"
        @type="select"
        @required={{true}}
        @gwrEnumOptions={{this.Models.Dwelling.floorTypeOptions}}
        @hint={{t "ember-gwr.dwelling.floorHint"}}
      />

      {{#if
        (or
          (eq changeset.floorType 3101)
          (eq changeset.floorType 3401)
          (and import.data.floorNumber)
        )
      }}
        <Field @attr="floorNumber" @type="number" @required={{true}} />
      {{/if}}

      <Field @attr="multipleFloor" @type="checkbox" @required={{true}} />
      <Field @attr="physicalDwellingNo" />
      <Field @attr="administrativeDwellingNo" />
      <Field @attr="noOfHabitableRooms" @type="number" @min="1" />
      <Field @attr="locationOfDwellingOnFloor" />
      <Field
        @attr="usageLimitation"
        @type="select"
        @gwrEnumOptions={{this.Models.Dwelling.usageLimitationOptions}}
        @convertValueTo="number"
      />
      <Field @attr="kitchen" @type="checkbox" />
      <Field @attr="surfaceAreaOfDwelling" @type="number" />

      {{#if (or (not this.dwelling.isNew) import)}}
        <Field @attr="yearOfConstruction" @type="number" />
        <Field @attr="yearOfDemolition" @type="number" />
      {{/if}}

      <h2>{{t "ember-gwr.dwelling.usage.heading"}}</h2>
      <Field
        @attr="dwellingUsage.usageCode"
        @type="select"
        @gwrEnumOptions={{this.Models.DwellingUsage.usageCodeOptions}}
        @convertValueTo="number"
      />
      <Field
        @attr="dwellingUsage.informationSource"
        @type="select"
        @gwrEnumOptions={{this.Models.DwellingUsage.informationSourceOptions}}
        @convertValueTo="number"
      />
      <Field @attr="dwellingUsage.revisionDate" @type="date" />
      <Field @attr="dwellingUsage.remark" />
      <Field
        @attr="dwellingUsage.personWithMainResidence"
        @type="checkbox"
        @disabled={{true}}
      />
      <Field
        @attr="dwellingUsage.personWithSecondaryResidence"
        @type="checkbox"
        @disabled={{true}}
      />
      <div uk-alert>
        <div class="uk-text-bold">
          {{t "ember-gwr.dwelling.dwellingUsage.mainAndSecondaryResidenceInfoHeading"}}
        </div>
        <div>
          {{t "ember-gwr.dwelling.dwellingUsage.mainAndSecondaryResidenceInfo"}}
        </div>
      </div>
      <Field
        @attr="dwellingUsage.dateFirstOccupancy"
        @type="date"
        @disabled={{true}}
      />
      <Field
        @attr="dwellingUsage.dateLastOccupancy"
        @type="date"
        @disabled={{true}}
      />

      <Field @attr="dwellingFreeText1" />
      <Field @attr="dwellingFreeText2" />

    </ModelForm>
  {{/if}}
</div>
