<div>
  {{#if this.fetchDwellings.isRunning}}
    <Loading />
  {{else}}
    <LinkedModels
      @models={{this.fetchDwellings.lastSuccessful.value}}
      @modelName="dwelling"
      @newRoute="building.edit.dwelling.new"
      @removeLink={{this.removeDwelling}}
    >
      <:list as |model|>
        <td class="uk-table-shrink">
          <LinkTo
            @route="building.edit.dwelling.edit"
            @model={{model.EWID}}
            class="uk-link"
          >
            {{model.EWID}}
          </LinkTo>
        </td>
        <td>
          {{concat
            (t
              "ember-gwr.buildingEntrance.title"
              address=model.buildingEntrance.EDID
            )
            " - "
            model.buildingEntrance.fullAddressText
          }}
        </td>
        <td>
          {{if
            model.noOfHabitableRooms
            (t
              "ember-gwr.building.dwellings.rooms"
              number=model.noOfHabitableRooms
            )
            "-"
          }}
        </td>
        <td>
          {{if
            model.floor
            (t model.floorLabel.label number=model.floorLabel.number)
            "-"
          }}
        </td>
        <td>
          {{or model.locationOfDwellingOnFloor "-"}}
        </td>
      </:list>
    </LinkedModels>
  {{/if}}
</div>
