<div>
  {{#if this.fetchEntrances.isRunning}}
    <Loading />
  {{else}}
    <LinkedModels
      @models={{this.entrances}}
      @modelName="entrance"
      @newRoute="building.edit.entrance.new"
      {{!
      TODO removing a entrance is not allowed if there is still a dwelling attached to it
      We also cannot remove an entrance if there is only one. This only applies for active
      instances of dwellings and building entrances. Since building entrance deactivation
      is an asynchronous process, we should check the mutation status of deactivated
      building entrances and dwellings, to ensure that the requirements hold.
      }}
      @removeLink={{if (gt this.entrances.length 1) this.removeEntranceLink}}
    >
      <:list as |model|>
        <td class="uk-table-shrink">
          <LinkTo
            @route="building.edit.entrance.edit"
            @model={{model.EDID}}
            class="uk-link"
          >
            {{model.EDID}}
          </LinkTo>
        </td>
        <td>
          {{model.fullAddressText}}
        </td>
      </:list>
    </LinkedModels>
  {{/if}}
</div>
