{{#if
  (and this.buildingWork.building.isNew (not this.fetchBuildingWork.isRunning))
}}
  <BackRoute
    @backRoute="project.linked-buildings"
    @backModel={{this.model.projectId}}
    @backText={{t "ember-gwr.building.backToProject"}}
  />

{{/if}}
<div>
  {{#if (or this.fetchBuildingWork.isRunning this.fetchBuilding.isRunning)}}
    <Loading />
  {{else}}
    <ModelForm
      @model={{this.buildingWork}}
      @instanceId={{this.model.instanceId}}
      @validations={{this.BuildingWorkValidations.value}}
      @onSubmit={{this.saveBuildingWork}}
      @errors={{this.errors}}
      @translationBase="ember-gwr"
      @translationBaseHeader="ember-gwr.building"
      @headerModel={{this.building}}
      @headerModelId={{this.building.EGID}}
      @projectId={{this.model.projectId}}
      @modelName="building"
      @statusConfiguration={{this.statusConfiguration}}
      @showImport={{this.showImport}}
      @importIndex={{this.importIndex}}
      @modelStatusOptions={{this.buildingStatusOptions}}
      @nextValidStates={{this.nextValidStates}}
      @onStatusChange={{this.transitionState}}
      @onStatusCorrection={{this.correctState}}
      @getChangeParameters={{this.getChangeParameters}}
      @getCorrectionParameters={{this.getCorrectionParameters}}
      @getChangeHint={{fn this.gwr.getChangeHint this.buildingAPI.cacheClass}}
      @modelStatusField="buildingStatus"
      as |Field changeset import|
    >
      {{#unless this.hasNoProject}}
        {{#unless this.buildingWork.isNew}}
          <h3>
            {{t
              "ember-gwr.building.sections.kindOfWorkForProject"
              projectId=@model.projectId
            }}
          </h3>
          <div class="uk-flex uk-margin">
            <div class="uk-width-1-2">
              <span class="uk-form-label">{{t
                  "ember-gwr.buildingWork.kindOfWork"
                }}:</span>
              <span>{{t
                  (concat
                    "ember-gwr.buildingWork.kindOfWorkOptions."
                    this.buildingWork.kindOfWork
                  )
                }}</span>
            </div>
            <div class="uk-width-1-2">
              <span class="uk-form-label">{{t
                  "ember-gwr.buildingWork.ARBID"
                }}:</span>
              <span>{{this.buildingWork.ARBID}}</span>
            </div>
          </div>
        {{/unless}}

        {{#if (eq changeset.kindOfWork 6002)}}
          <div class="uk-flex">
            <div class="uk-width-1-2">
              <Field
                @attr="energeticRestauration"
                @type="checkbox"
                @translationBase="ember-gwr.buildingWork"
              />
              <Field
                @attr="renovationHeatingsystem"
                @type="checkbox"
                @translationBase="ember-gwr.buildingWork"
              />
              <Field
                @attr="innerConversionRenovation"
                @type="checkbox"
                @translationBase="ember-gwr.buildingWork"
              />
              <Field
                @attr="conversion"
                @type="checkbox"
                @translationBase="ember-gwr.buildingWork"
              />
              <Field
                @attr="extensionHeighteningHeated"
                @type="checkbox"
                @translationBase="ember-gwr.buildingWork"
              />
            </div>
            <div class="uk-width-1-2">
              <Field
                @attr="extensionHeighteningNotHeated"
                @type="checkbox"
                @translationBase="ember-gwr.buildingWork"
              />
              <Field
                @attr="thermicSolarFacility"
                @type="checkbox"
                @translationBase="ember-gwr.buildingWork"
              />
              <Field
                @attr="photovoltaicSolarFacility"
                @type="checkbox"
                @translationBase="ember-gwr.buildingWork"
              />
              <Field
                @attr="otherWorks"
                @type="checkbox"
                @translationBase="ember-gwr.buildingWork"
              />
            </div>
          </div>
        {{/if}}
        <hr />

        <h3>
          {{t "ember-gwr.building.sections.building"}}
        </h3>
      {{/unless}}

      <Field @attr="building.officialBuildingNo" @type="number" />

      <Field
        @attr="building.buildingCategory"
        @type="select"
        @convertValueTo="number"
        @gwrEnumOptions={{this.Models.Building.buildingCategoryOptions}}
        @required={{true}}
      />
      <Field
        @attr="building.buildingClass"
        @type="select"
        @convertValueTo="number"
        @gwrEnumOptions={{this.Models.Building.buildingClassOptions}}
      />

      {{#if this.buildingWork.building.isNew}}
        <h3 class="uk-margin-remove-bottom">
          {{t "ember-gwr.building.buildingEntrance.mainEntrance"}}
        </h3>
        <small class="uk-margin-bottom">
          {{t "ember-gwr.building.buildingEntrance.info"}}
        </small>
        <Field
          @attr="building.buildingEntrance.locality.name.nameLong"
          @required={{true}}
          @label="ember-gwr.buildingEntrance.fields.locality.name.nameLong"
          @disabled={{true}}
        />
        <Field
          @attr="building.buildingEntrance.locality.swissZipCode"
          @type="number"
          @label="ember-gwr.buildingEntrance.fields.locality.swissZipCode"
          @required={{true}}
          @disabled={{true}}
        />
        <Field
          @attr="building.buildingEntrance.locality.street"
          @label="ember-gwr.buildingEntrance.fields.street.description.descriptionLong"
          @inputComponent="search-street"
          @options={{hash
            locality=(changeset-get
              changeset "building.buildingEntrance.locality"
            )
          }}
          @on-update={{fn this.syncLocalityWithStreet changeset}}
          @required={{true}}
        />
        <Field
          @attr="building.buildingEntrance.buildingEntranceNo"
          @label="ember-gwr.buildingEntrance.fields.buildingEntranceNo"
        />
        <Field
          @attr="building.buildingEntrance.isOfficialAddress"
          @type="checkbox"
          @label="ember-gwr.buildingEntrance.fields.isOfficialAddress"
        />
      {{/if}}

      <h3>
        {{t "ember-gwr.building.sections.locality"}}
      </h3>

      <Field
        @attr="building.coordinates.north"
        @type="number"
        @step="0.001"
        @min="1070000.0"
        @max="1300000.999"
      />
      <Field
        @attr="building.coordinates.east"
        @type="number"
        @step="0.001"
        @min="2480000.0"
        @max="2840000.999"
      />
      <Field
        @attr="building.coordinates.originOfCoordinates"
        @type="select"
        @convertValueTo="number"
        @gwrEnumOptions={{this.Models.Coordinates.originOfCoordinatesOptions}}
      />
      <Field @attr="building.neighbourhood" @type="number" @min="1000" />

      <ul uk-accordion>
        <li>
          <a class="uk-accordion-title" href="#">
            <h4>
              {{t "ember-gwr.building.sections.localCodes"}}
            </h4>
          </a>
          <div class="uk-accordion-content">
            <Field @attr="building.localCode1" />
            <Field @attr="building.localCode2" />
            <Field @attr="building.localCode3" />
            <Field @attr="building.localCode4" />
          </div>
        </li>
      </ul>

      <h3>
        {{t "ember-gwr.building.sections.statusAndData"}}
      </h3>

      <Field @attr="building.nameOfBuilding" />

      {{#if (or (not this.buildingWork.isNew) import)}}
        <Field @attr="building.dateOfConstruction.yearMonthDay" @type="date" />
        {{#if this.buildingWork.building.dateOfConstruction.year}}
          <Field @attr="building.dateOfConstruction.year" @disabled={{true}} />
        {{/if}}
        {{#if this.buildingWork.building.dateOfConstruction.yearMonth}}
          <Field
            @attr="building.dateOfConstruction.yearMonth"
            @disabled={{true}}
          />
        {{/if}}
        <Field
          @attr="building.dateOfConstruction.periodOfConstruction"
          @type="select"
          @convertValueTo="number"
          @gwrEnumOptions={{this.Models.DateOfConstruction.periodOfConstructionOptions}}
        />

        <Field @attr="building.yearOfDemolition" @type="number" />
      {{/if}}

      <h3>
        {{t "ember-gwr.components.modelForm.realEstateHeading"}}
      </h3>
      <Field @attr="building.realestateIdentification.number" />
      <Field @attr="building.realestateIdentification.EGRID" />
      <Field
        @type="number"
        @attr="building.realestateIdentification.subDistrict"
      />

      <h3>
        {{t "ember-gwr.building.sections.structure"}}
      </h3>
      <Field @attr="building.numberOfFloors" @type="number" />
      <Field @attr="building.numberOfSeparateHabitableRooms" @type="number" />
      <Field @attr="building.civilDefenseShelter" @type="checkbox" />

      <h3>
        {{t "ember-gwr.building.sections.dimensions"}}
      </h3>
      <Field @attr="building.volume.volume" @type="number" />
      <Field
        @attr="building.volume.norm"
        @type="select"
        @convertValueTo="number"
        @gwrEnumOptions={{this.Models.Volume.normOptions}}
      />
      <Field
        @attr="building.volume.informationSource"
        @type="select"
        @convertValueTo="number"
        @gwrEnumOptions={{this.Models.Volume.informationSourceOptions}}
      />
      <Field @attr="building.surfaceAreaOfBuilding" @type="number" />

      <h3>
        {{t "ember-gwr.building.sections.energy"}}
      </h3>

      <Field @attr="building.energyRelevantSurface" @type="number" />

      <h3>
        {{t "ember-gwr.building.sections.heating"}}
      </h3>
      <Field
        @attr="building.thermotechnicalDeviceForHeating1.heatGeneratorHeating"
        @type="select"
        @convertValueTo="number"
        @gwrEnumOptions={{this.Models.ThermotechnicalDeviceForHeating.heatGeneratorHeatingOptions}}
        @label="ember-gwr.building.heating.heatGeneratorHeating"
      />
      <Field
        @attr="building.thermotechnicalDeviceForHeating1.energySourceHeating"
        @type="select"
        @convertValueTo="number"
        @gwrEnumOptions={{this.Models.ThermotechnicalDeviceForHeating.energySourceHeatingOptions}}
        @label="ember-gwr.building.heating.energySourceHeating"
      />
      <Field
        @attr="building.thermotechnicalDeviceForHeating1.informationSourceHeating"
        @type="select"
        @convertValueTo="number"
        @gwrEnumOptions={{this.Models.ThermotechnicalDeviceForHeating.informationSourceHeatingOptions}}
        @label="ember-gwr.building.heating.informationSourceHeating"
      />
      <Field
        @attr="building.thermotechnicalDeviceForHeating1.revisionDate"
        @type="date"
        @label="ember-gwr.building.heating.revisionDate"
      />

      <ul
        uk-accordion="active: {{if
          (or
            (show-model-field
              'building.thermotechnicalDeviceForHeating2.heatGeneratorHeating'
              changeset
              import
            )
            (show-model-field
              'building.thermotechnicalDeviceForHeating2.energySourceHeating'
              changeset
              import
            )
          )
          '0'
          false
        }}"
      >
        <li>
          <a class="uk-accordion-title" href="#">
            <h4>
              {{t "ember-gwr.building.sections.additionalHeating"}}
            </h4>
          </a>
          <div class="uk-accordion-content">
            <Field
              @attr="building.thermotechnicalDeviceForHeating2.heatGeneratorHeating"
              @type="select"
              @convertValueTo="number"
              @gwrEnumOptions={{this.Models.ThermotechnicalDeviceForHeating.heatGeneratorHeatingOptions}}
              @label="ember-gwr.building.heating.heatGeneratorHeating"
            />
            <Field
              @attr="building.thermotechnicalDeviceForHeating2.energySourceHeating"
              @type="select"
              @convertValueTo="number"
              @gwrEnumOptions={{this.Models.ThermotechnicalDeviceForHeating.energySourceHeatingOptions}}
              @label="ember-gwr.building.heating.energySourceHeating"
            />
            <Field
              @attr="building.thermotechnicalDeviceForHeating2.informationSourceHeating"
              @type="select"
              @convertValueTo="number"
              @gwrEnumOptions={{this.Models.ThermotechnicalDeviceForHeating.informationSourceHeatingOptions}}
              @label="ember-gwr.building.heating.informationSourceHeating"
            />
            <Field
              @attr="building.thermotechnicalDeviceForHeating2.revisionDate"
              @type="date"
              @label="ember-gwr.building.heating.revisionDate"
            />
          </div>
        </li>
      </ul>

      <h3>
        {{t "ember-gwr.building.sections.warmWater"}}
      </h3>
      <Field
        @attr="building.thermotechnicalDeviceForWarmWater1.heatGeneratorHotWater"
        @type="select"
        @convertValueTo="number"
        @gwrEnumOptions={{this.Models.ThermotechnicalDeviceForWarmWater.heatGeneratorHotWaterOptions}}
        @label="ember-gwr.building.heating.heatGeneratorHotWater"
      />
      <Field
        @attr="building.thermotechnicalDeviceForWarmWater1.energySourceHeating"
        @type="select"
        @convertValueTo="number"
        @gwrEnumOptions={{this.Models.ThermotechnicalDeviceForWarmWater.energySourceHeatingOptions}}
        @label="ember-gwr.building.heating.energySourceHeating"
      />
      <Field
        @attr="building.thermotechnicalDeviceForWarmWater1.informationSourceHeating"
        @type="select"
        @convertValueTo="number"
        @gwrEnumOptions={{this.Models.ThermotechnicalDeviceForWarmWater.informationSourceHeatingOptions}}
        @label="ember-gwr.building.heating.informationSourceHeating"
      />
      <Field
        @attr="building.thermotechnicalDeviceForWarmWater1.revisionDate"
        @type="date"
        @label="ember-gwr.building.heating.revisionDate"
      />

      <ul
        uk-accordion="active: {{if
          (or
            (show-model-field
              'building.thermotechnicalDeviceForHeating2.heatGeneratorHeating'
              changeset
              import
            )
            (show-model-field
              'building.thermotechnicalDeviceForHeating2.energySourceHeating'
              changeset
              import
            )
          )
          '0'
          false
        }}"
      >
        <li>
          <a class="uk-accordion-title" href="#">
            <h4>
              {{t "ember-gwr.building.sections.additionalWarmWater"}}
            </h4>
          </a>
          <div class="uk-accordion-content">

            <Field
              @attr="building.thermotechnicalDeviceForWarmWater2.heatGeneratorHotWater"
              @type="select"
              @convertValueTo="number"
              @gwrEnumOptions={{this.Models.ThermotechnicalDeviceForWarmWater.heatGeneratorHotWaterOptions}}
              @label="ember-gwr.building.heating.heatGeneratorHotWater"
            />
            <Field
              @attr="building.thermotechnicalDeviceForWarmWater2.energySourceHeating"
              @type="select"
              @convertValueTo="number"
              @gwrEnumOptions={{this.Models.ThermotechnicalDeviceForWarmWater.energySourceHeatingOptions}}
              @label="ember-gwr.building.heating.energySourceHeating"
            />
            <Field
              @attr="building.thermotechnicalDeviceForWarmWater2.informationSourceHeating"
              @type="select"
              @convertValueTo="number"
              @gwrEnumOptions={{this.Models.ThermotechnicalDeviceForWarmWater.informationSourceHeatingOptions}}
              @label="ember-gwr.building.heating.informationSourceHeating"
            />
            <Field
              @attr="building.thermotechnicalDeviceForWarmWater2.revisionDate"
              @type="date"
              @label="ember-gwr.building.heating.revisionDate"
            />
          </div>
        </li>
      </ul>

      <h3>
        {{t "ember-gwr.building.sections.freeTextFields"}}
      </h3>

      <Field @attr="building.buildingFreeText1" />
      <Field @attr="building.buildingFreeText2" />
    </ModelForm>
  {{/if}}
</div>
