<div>
  {{#if this.fetchDwelling.isRunning}}
    <div class="uk-flex uk-flex-center uk-flex-middle uk-margin-large-top">
      <UkSpinner @ratio="3" />
    </div>
  {{else}}
    <h2 class="uk-flex uk-flex-between">
      <span>
        {{#if this.dwelling.isNew}}
          {{t "ember-gwr.dwelling.createNewDwelling"}}
        {{else}}
          {{t "ember-gwr.dwelling.title" id=this.dwelling.EWID}}
        {{/if}}
      </span>
    </h2>

    <ModelForm
      @model={{this.dwelling}}
      @onSubmit={{this.saveDwelling}}
      @translationBase="ember-gwr.dwelling"
      as |Field|
    >

      {{#if this.dwelling.isNew}}
        <Field
          @attr="entranceId"
          @type="select"
          @options={{this.entrances}}
          @optionValuePath="EDID"
          @optionLabelPath="buildingEntranceNo"
          @noPlaceholder={{true}}
        />
      {{else}}
        <Field @attr="EWID" @type="number" @disabled={{true}} />
      {{/if}}
      <Field @attr="floor" @type="number" @required={{true}} />
      <Field @attr="multipleFloor" @type="checkbox" />
      <Field
        @attr="status"
        @type="select"
        @options={{this.Models.Dwelling.statusOptions}}
        @convertValueTo="number"
      />
      <Field @attr="administrativeDwellingNo" />
      <Field @attr="dateOfConstruction" @type="date" />
      <Field @attr="dateOfDemolition" @type="date" />
      <Field @attr="noOfHabitableRooms" @type="number" />
      <Field @attr="locationOfDwellingOnFloor" />
      <Field @attr="usageLimitation" @type="number" />
      <Field @attr="kitchen" @type="checkbox" />
      <Field @attr="surfaceAreaOfDwelling" @type="number" />

      <h2>{{t "ember-gwr.dwelling.usage.heading"}}</h2>
      <Field
        @attr="dwellingUsage.usageCode"
        @type="select"
        @options={{this.Models.DwellingUsage.usageCodeOptions}}
        @convertValueTo="number"
      />
      <Field
        @attr="dwellingUsage.informationSource"
        @type="select"
        @options={{this.Models.DwellingUsage.informationSourceOptions}}
        @convertValueTo="number"
      />
      <Field @attr="dwellingUsage.revisionDate" @type="date" />
      <Field @attr="dwellingUsage.remark" />
      <Field @attr="dwellingUsage.personWithMainResidence" @type="checkbox" />
      <Field
        @attr="dwellingUsage.personWithSecondaryResidence"
        @type="checkbox"
      />
      <Field @attr="dwellingUsage.dateFirstOccupancy" @type="date" />
      <Field @attr="dwellingUsage.dateLastOccupancy" @type="date" />

      <Field @attr="dwellingFreeText1" />
      <Field @attr="dwellingFreeText2" />

    </ModelForm>
  {{/if}}
</div>
