<div class="{{if @horizontal "uk-flex"}}">
  <div class="uk-text-bold {{if @horizontal "uk-margin-left uk-flex-last"}}">
    {{component @labelComponent}}
  </div>
  <div
    class="uk-box-shadow-small uk-padding-small uk-width-1-1
      {{if @isInvalid "uk-form-danger"}}
      {{if @isValid "uk-form-success"}}"
  >
    <div class="uk-margin">
      <div
        class="uk-flex uk-flex-between uk-flex-bottom uk-margin-small-bottom"
      >
        <span>
          {{t "ember-gwr.components.modelForm.diff.existingData"}}
        </span>
        <button
          type="button"
          class="uk-button uk-button-default uk-button-small"
          {{on "click" (fn @updateModelField @current)}}
        >
          {{t "ember-gwr.components.modelForm.diff.apply"}}
        </button>
      </div>
      {{#let
        (component @inputComponent disabled=true value=@current)
        as |InputComponent|
      }}
        <InputComponent disabled />
      {{/let}}
    </div>
    <div>
      <div
        class="uk-flex uk-flex-between uk-flex-bottom uk-margin-small-bottom"
      >
        <span>
          {{t "ember-gwr.components.modelForm.diff.importData"}}
        </span>
        <button
          type="button"
          class="uk-button uk-button-default uk-button-small"
          {{on "click" (fn @updateModelField this.newValue)}}
        >
          {{t "ember-gwr.components.modelForm.diff.apply"}}
        </button>
      </div>
      {{component
        @inputComponent
        value=this.newValue
        includeBlank=false
        on-update=(fn this.updateNewValue)
      }}
    </div>
  </div>
</div>
{{component @hintComponent}}
{{component @errorComponent}}
