<div
  class="{{unless @noMargin 'uk-margin'}}"
  {{did-update this.initializeImport @importedData @model @attr}}
>
  {{#let
    (component
      @inputComponent
      label=(unless
        @noLabel (t (or @label (concat @translationBase "." @attr)))
      )
      name=@attr
      inputName=@inputName
      hint=@hint
      type=(or @type @inputType)
      disabled=(or @disabled this.disableInput)
      required=@required
      value=this.value
      validateBeforeSubmit=true
      auto-complete=@auto-complete
      placeholder=@placeholder
      autofocus=@autofocus
      rows=@rows
      cols=@cols
      options=this.options
      optionLabelPath=(if @gwrEnumOptions "label" @optionLabelPath)
      optionTargetPath=(if @gwrEnumOptions "value" @optionTargetPath)
      optionValuePath=@optionValuePath
      prompt=(unless
        @noPlaceholder
        (t
          (concat (or @label (concat @translationBase "." @attr)) "Placeholder")
        )
      )
      promptIsSelectable=true
      on-update=(if
        @on-update
        (queue this.updateModelField @on-update)
        this.updateModelField
      )
      renderComponent=(component
        this.fieldComponent
        horizontal=this.isHorizontal
        step=@step
        min=@min
        max=@max
      )
      errorComponent=(component "validated-form-error")
      model=@model
      invalidSubmit=@invalidSubmit
    )
    as |InputComponent|
  }}
    {{#if this.showDiff}}
      <ModelForm::Diff
        @inputComponent={{InputComponent}}
        @current={{this.value}}
        @new={{this.importValue}}
        @updateModelField={{this.updateModelField}}
        @horizontal={{this.isHorizontal}}
      />
    {{else}}
      <InputComponent ...attributes />
    {{/if}}
  {{/let}}
</div>