<div class="uk-flex uk-flex-between uk-flex-top uk-margin-top uk-child-width-1-2">
  <ModelForm::Header::Title
    @model={{@model}}
    @modelId={{@modelId}}
    @modelName={{@modelName}}
    @modelDescription={{@modelDescription}}
  />
  {{! template-lint-disable no-passed-in-event-handlers }}
  <ModelForm::Header::Actions
    @submit={{@submit}}
    @submitErrors={{@submitErrors}}
    @statusConfiguration={{and @statusConfiguration @model (not @model.isNew)}}
    @modelHasImport={{@modelHasImport}}
    @import={{@import}}
    @importAllData={{@importAllData}}
    @openStatus={{fn (mut this.changeStatus) true}}
    @modelName={{@modelName}}
    @translationBase={{@translationBase}}
    @disabled={{@disabled}}
  />
</div>
{{#if (and @model (not @model.isNew))}}
  <hr class="uk-margin-small-bottom" />
  {{#let (t (concat "ember-gwr.models." @modelName) count=1) as |modelName|}}
    <div
      class="uk-flex uk-margin-top
        {{if @statusConfiguration 'uk-flex-between' 'uk-flex-right'}}
        uk-flex-bottom uk-flex-wrap uk-flex-wrap-around"
    >
      {{#if @statusConfiguration}}
        <ModelForm::Header::Status
          @model={{@model}}
          @modelName={{@modelName}}
        />
      {{/if}}
      <ModelForm::Header::Errors
        @model={{@model}}
        @modelId={{@modelId}}
        @projectId={{@projectId}}
        @modelName={{modelName}}
      />
    </div>
    {{#if (and this.changeStatus (not @hasNoStatus))}}
      <ModelForm::Header::StatusSelector
        @model={{@model}}
        @modelName={{@modelName}}
        @modelStatusOptions={{@modelStatusOptions}}
        @closeStatus={{fn (mut this.changeStatus) false}}
        @nextValidStates={{@nextValidStates}}
        @onStatusChange={{@onStatusChange}}
        @onStatusCorrection={{@onStatusCorrection}}
        @getChangeParameters={{@getChangeParameters}}
        @getCorrectionParameters={{@getCorrectionParameters}}
        @getChangeHint={{@getChangeHint}}
        @modelStatusField={{@modelStatusField}}
        @translationBase={{or @translationBaseHeader @translationBase}}
        @statusConfiguration={{@statusConfiguration}}
      />
    {{/if}}
  {{/let}}
  <hr class="uk-margin-small-top" />
{{/if}}
