<div class="{{if @horizontal 'uk-flex'}}">
  <div class="{{if @horizontal 'uk-margin-left uk-flex-last'}}">
    {{component @labelComponent}}
  </div>
  <input
    type="number"
    class="uk-width-1 uk-input
      {{if @isInvalid 'uk-form-danger'}}
      {{if @isValid 'uk-form-success'}}"
    name={{@name}}
    required={{@required}}
    value={{@value}}
    step={{@step}}
    min={{@min}}
    max={{@max}}
    disabled={{@disabled}}
    ...attributes
    {{on "input" @update}}
  />
</div>
{{component @hintComponent}}
{{component @errorComponent}}