<div>
  {{#if this.fetchBuilding.isRunning}}
    <div class="uk-flex uk-flex-center uk-flex-middle uk-margin-large-top">
      <UkSpinner @ratio="3" />
    </div>
  {{else}}
    <h2 class="uk-flex uk-flex-between">
      <span>
        {{#if this.buildingWork.building.isNew}}
          {{t "ember-gwr.building.createNewBuilding"}}
        {{else}}
          {{t
            "ember-gwr.building.title"
            id=this.buildingWork.building.EGID
            status=(t
              (concat
                "ember-gwr.building.fields.buildingStatusOptions."
                this.buildingWork.building.buildingStatus
              )
            )
          }}
        {{/if}}
      </span>
    </h2>

    <ProjectForm
      @project={{this.buildingWork.building}}
      @onSubmit={{this.saveBuilding}}
      @translationBase="ember-gwr.building.fields" as |Field|
    >
      <h3>
        {{t
          "ember-gwr.building.sections.kindOfWorkForProject"
          projectId=@model.projectId
        }}
      </h3>
      {{#let
        (component
          Field
          project=this.buildingWork
          translationBase="ember-gwr.buildingWork.fields"
        ) as |BuildingWorkField|
      }}
        <BuildingWorkField
          @attr="kindOfWork"
          @inputType="select"
          @convertValueTo="number"
          @noPlaceholder={{true}}
          @options={{this.Models.BuildingWork.kindOfWorkOptions}}
          @required={{true}}
        />
        <div class="uk-flex">
          <div class="uk-width-1-2">
            <BuildingWorkField
              @attr="energeticRestauration"
              @inputType="checkbox"
            />
            <BuildingWorkField
              @attr="renovationHeatingsystem"
              @inputType="checkbox"
            />
            <BuildingWorkField
              @attr="innerConversionRenovation"
              @inputType="checkbox"
            />
            <BuildingWorkField @attr="conversion" @inputType="checkbox" />
            <BuildingWorkField
              @attr="extensionHeighteningHeated"
              @inputType="checkbox"
            />
          </div>
          <div class="uk-width-1-2">
            <BuildingWorkField
              @attr="extensionHeighteningNotHeated"
              @inputType="checkbox"
            />
            <BuildingWorkField
              @attr="thermicSolarFacility"
              @inputType="checkbox"
            />
            <BuildingWorkField
              @attr="photovoltaicSolarFacility"
              @inputType="checkbox"
            />
            <BuildingWorkField @attr="otherWorks" @inputType="checkbox" />
          </div>
        </div>
      {{/let}}
      <hr />

      <h3>
        {{t "ember-gwr.building.sections.building"}}
      </h3>

      {{#unless this.buildingWork.building.isNew}}
        <Field @attr="EGID" type="number" readonly disabled />
      {{/unless}}

      <Field @attr="officialBuildingNo" type="number" />

      <Field
        @attr="buildingCategory"
        @inputType="select"
        @convertValueTo="number"
        @options={{this.Models.Building.buildingCategoryOptions}}
        @required={{true}}
      />
      <Field
        @attr="buildingClass"
        @inputType="select"
        @convertValueTo="number"
        @options={{this.Models.Building.buildingClassOptions}}
      />

      <h3>
        {{t "ember-gwr.building.sections.locality"}}
      </h3>

      <Field
        @attr="coordinates.north"
        type="number"
        step="0.001"
        @required={{true}}
        min="1070000.0"
        max="1300000.999"
      />
      <Field
        @attr="coordinates.east"
        type="number"
        step="0.001"
        min="2480000.0"
        max="2840000.999"
        @required={{true}}
      />
      <Field
        @attr="coordinates.originOfCoordinates"
        @inputType="select"
        @convertValueTo="number"
        @options={{this.Models.Coordinates.originOfCoordinatesOptions}}
        @required={{true}}
      />
      <Field @attr="neighbourhood" type="number" min="1000" />

      <ul uk-accordion>
        <li>
          <a class="uk-accordion-title" href="#">
            <h4>
              {{t "ember-gwr.building.sections.localCodes"}}
            </h4>
          </a>
          <div class="uk-accordion-content">
            <Field @attr="localCode1" />
            <Field @attr="localCode2" />
            <Field @attr="localCode3" />
            <Field @attr="localCode4" />
          </div>
        </li>
      </ul>

      <h3>
        {{t "ember-gwr.building.sections.statusAndData"}}
      </h3>

      <Field
        @attr="buildingStatus"
        @inputType="select"
        @convertValueTo="number"
        @options={{this.buildingStatusOptions}}
        @required={{true}}
      />

      <Field @attr="nameOfBuilding" />

      <Field @attr="dateOfConstruction.yearMonthDay" @inputType="date" />
      {{#if this.buildingWork.building.dateOfConstruction.year}}
        <Field @attr="dateOfConstruction.year" readonly disabled />
      {{/if}}
      {{#if this.buildingWork.building.dateOfConstruction.yearMonth}}
        <Field @attr="dateOfConstruction.yearMonth" readonly disabled />
      {{/if}}
      {{#if this.buildingWork.building.dateOfConstruction.periodOfConstruction}}
        <Field
          @attr="dateOfConstruction.periodOfConstruction"
          @inputType="select"
          @convertValueTo="number"
          @options={{
            this.Models.DateOfConstruction.periodOfConstructionOptions
          }}
        />
      {{/if}}

      <Field @attr="yearOfDemolition" type="number" pattern="[0-9]{4}" />

      <h3>
        {{t "ember-gwr.building.sections.structure"}}
      </h3>
      <Field @attr="numberOfFloors" type="number" />
      <Field @attr="numberOfSeparateHabitableRooms" type="number" />
      <Field @attr="civilDefenseShelter" @inputType="checkbox" />

      <h3>
        {{t "ember-gwr.building.sections.dimensions"}}
      </h3>
      <Field @attr="surfaceAreaOfBuilding" type="number" />
      <Field @attr="volume.volume" type="number" @required={{true}} />
      <Field
        @attr="volume.norm"
        @inputType="select"
        @convertValueTo="number"
        @options={{this.Models.Volume.normOptions}}
        @required={{true}}
      />
      <Field
        @attr="volume.informationSource"
        @inputType="select"
        @convertValueTo="number"
        @options={{this.Models.Volume.informationSourceOptions}}
      />

      <h3>
        {{t "ember-gwr.building.sections.energy"}}
      </h3>

      <Field @attr="energyRelevantSurface" type="number" />

      <h3>
        {{t "ember-gwr.building.sections.freeTextFields"}}
      </h3>

      <Field @attr="buildingFreeText1" />
      <Field @attr="buildingFreeText2" />
    </ProjectForm>
  {{/if}}
</div>
