<div>
  {{#if this.fetchBuilding.isRunning}}
    <div class="uk-flex uk-flex-center uk-flex-middle uk-margin-large-top">
      <UkSpinner @ratio="3" />
    </div>
  {{else}}
    <h2 class="uk-flex uk-flex-between">
      <span>
        {{#if this.building.isNew}}
          {{t "ember-gwr.building.createNewBuilding"}}
        {{else}}
          {{t
            "ember-gwr.building.title"
            id=this.building.EGID
            status=(t
              (concat
                "ember-gwr.building.fields.buildingStatusOptions."
                this.building.buildingStatus
              )
            )
          }}
        {{/if}}
      </span>
    </h2>

    <ProjectForm
      @project={{this.building}}
      @onSubmit={{this.saveBuilding}}
      @translationBase="ember-gwr.building.fields" as |Field|
    >

      <h3>
        {{t "ember-gwr.building.sections.building"}}
      </h3>

      {{#unless this.building.isNew}}
        <Field @attr="EGID" type="number" readonly disabled />
      {{/unless}}

      <Field @attr="officialBuildingNo" type="number" />

      <Field
        @attr="buildingCategory"
        @inputType="select"
        @convertValueTo="number"
        @options={{this.Models.Building.buildingCategoryOptions}}
        required
      />
      <Field
        @attr="buildingClass"
        @inputType="select"
        @convertValueTo="number"
        @options={{this.Models.Building.buildingClassOptions}}
      />

      <h3>
        {{t "ember-gwr.building.sections.locality"}}
      </h3>

      <Field @attr="coordinates.north" type="number" step="0.01" required />
      <Field @attr="coordinates.east" type="number" step="0.01" required />
      <Field
        @attr="coordinates.originOfCoordinates"
        @inputType="select"
        @convertValueTo="number"
        @options={{this.Models.Coordinates.originOfCoordinatesOptions}}
        required
      />
      <Field @attr="neighbourhood" type="number" min="1000" />

      <h4>
        {{t "ember-gwr.building.sections.localCodes"}}
      </h4>

      <Field @attr="localCode1" />
      <Field @attr="localCode2" />
      <Field @attr="localCode3" />
      <Field @attr="localCode4" />

      <h3>
        {{t "ember-gwr.building.sections.statusAndData"}}
      </h3>

      <Field
        @attr="buildingStatus"
        @inputType="select"
        @convertValueTo="number"
        @options={{this.Models.Building.buildingStatusOptions}}
        required
      />

      <Field @attr="nameOfBuilding" />

      <Field @attr="dateOfConstruction.yearMonthDay" @inputType="date" />
      {{#if this.building.dateOfConstruction.year}}
        <Field @attr="dateOfConstruction.year" readonly disabled />
      {{/if}}
      {{#if this.building.dateOfConstruction.yearMonth}}
        <Field @attr="dateOfConstruction.yearMonth" readonly disabled />
      {{/if}}
      {{#if this.building.dateOfConstruction.periodOfConstruction}}
        <Field
          @attr="dateOfConstruction.periodOfConstruction"
          @inputType="select"
          @convertValueTo="number"
          @options={{
            this.Models.DateOfConstruction.periodOfConstructionOptions
          }}
        />
      {{/if}}

      <Field @attr="yearOfDemolition" type="number" pattern="[0-9]{4}" />

      <h3>
        {{t "ember-gwr.building.sections.structure"}}
      </h3>
      <Field @attr="numberOfFloors" type="number" />
      <Field @attr="numberOfSeparateHabitableRooms" type="number" />
      <Field @attr="civilDefenseShelter" @inputType="checkbox" />

      <h3>
        {{t "ember-gwr.building.sections.dimensions"}}
      </h3>
      <Field @attr="surfaceAreaOfBuilding" type="number" />
      <Field @attr="volume.volume" type="number" required />
      <Field
        @attr="volume.norm"
        @inputType="select"
        @convertValueTo="number"
        @options={{this.Models.Volume.normOptions}}
        required
      />
      <Field
        @attr="volume.informationSource"
        @inputType="select"
        @convertValueTo="number"
        @options={{this.Models.Volume.informationSourceOptions}}
      />

      <h3>
        {{t "ember-gwr.building.sections.energy"}}
      </h3>

      <Field @attr="energyRelevantSurface" type="number" />

      <h3>
        {{t "ember-gwr.building.sections.freeTextFields"}}
      </h3>

      <Field @attr="buildingFreeText1" />
      <Field @attr="buildingFreeText2" />
    </ProjectForm>
  {{/if}}
</div>
