<div class="{{if @horizontal 'uk-flex'}}">
  <div class="{{if @horizontal 'uk-margin-left uk-flex-last'}}">
    {{component @labelComponent}}
  </div>
  {{#if @disabled}}
    <input
      type="text"
      class="uk-input uk-width-1
        {{if @isInvalid 'uk-form-danger'}}
        {{if @isValid 'uk-form-success'}}"
      name={{@name}}
      value={{format-date @value day="2-digit" month="2-digit" year="numeric"}}
      placeholder={{t "ember-gwr.components.modelForm.datePlaceholder"}}
      disabled
      ...attributes
    />
  {{else}}

    <div class="uk-inline uk-width-1-1">
      {{#if @value}}
        <button
          type="button"
          class="uk-form-icon uk-form-icon-flip"
          uk-icon="icon: close; ratio: 0.7"
          {{on "click" (fn @update null)}}
        />
      {{/if}}
      <EmberFlatpickr
        class="uk-input uk-width-1
          {{if @isInvalid 'uk-form-danger'}}
          {{if @isValid 'uk-form-success'}}"
        name={{@name}}
        required={{@required}}
        placeholder={{t "ember-gwr.components.modelForm.datePlaceholder"}}
        ...attributes
        @date={{or @value null}}
        @minDate={{this.minDate}}
        @maxDate={{this.maxDate}}
        @allowInput={{true}}
        @altInput={{true}}
        @altFormat="d.m.Y"
        @dateFormat="Y-m-d"
        @onChange={{this.onChange}}
        @locale={{this.locale}}
      />
    </div>
  {{/if}}
</div>
{{component @hintComponent}}
{{component @errorComponent}}
