<UkModal
  @visible={{@visible}}
  @on-hide={{@close}}
  @container={{this.config.modalContainer}}
  as |Modal|
>
  <Modal.header>
    <h2 class="uk-modal-title">
      {{t "ember-gwr.components.linkBuildingModal.linkBuilding"}}
    </h2>
  </Modal.header>
  <Modal.body>
    {{#let
      (component
        "project-form/field"
        project=this.buildingWork
        translationBase="ember-gwr.buildingWork"
      )
      as |Field|
    }}
      <Field
        @attr="kindOfWork"
        @inputType="select"
        @convertValueTo="number"
        @noPlaceholder={{true}}
        @options={{this.kindOfWorkOptions}}
      />
      {{#if (eq this.buildingWork.kindOfWork 6002)}}
        <Field @attr="energeticRestauration" @inputType="checkbox" />
        <Field @attr="renovationHeatingsystem" @inputType="checkbox" />
        <Field @attr="innerConversionRenovation" @inputType="checkbox" />
        <Field @attr="conversion" @inputType="checkbox" />
        <Field @attr="extensionHeighteningHeated" @inputType="checkbox" />
        <Field @attr="extensionHeighteningNotHeated" @inputType="checkbox" />
        <Field @attr="thermicSolarFacility" @inputType="checkbox" />
        <Field @attr="photovoltaicSolarFacility" @inputType="checkbox" />
        <Field @attr="otherWorks" @inputType="checkbox" />
      {{/if}}
    {{/let}}
  </Modal.body>
  <Modal.footer class="uk-flex uk-flex-column">
    <div class="uk-flex uk-flex-between">
      <UkButton {{on "click" @close}}>
        {{t "ember-gwr.components.linkBuildingModal.cancel"}}
      </UkButton>
      <UkButton
        @color="primary"
        @loading={{@isLoading}}
        {{on "click" (fn @linkAction this.buildingWork)}}
      >
        {{t "ember-gwr.components.linkBuildingModal.linkBuilding"}}
      </UkButton>
    </div>
    {{#if @errors}}
      <div class="uk-flex uk-margin">
        <ModelForm::SubmitErrors @errors={{@errors}} @expand={{true}} />
      </div>
    {{/if}}
  </Modal.footer>
</UkModal>
