<UkModal
  @visible={{@visible}}
  @onHide={{@close}}
  @container={{this.config.modalContainer}}
  as |Modal|
>
  <Modal.header>
    <h2 class="uk-modal-title">
      {{t "ember-gwr.components.linkBuildingModal.linkBuilding"}}
    </h2>
  </Modal.header>
  <Modal.body>
    <ValidatedForm
      @model={{this.buildingWork}}
      @on-submit={{perform this.submit}}
      class="validated-form"
      ...attributes
      as |Form|
    >
      <Form.input
        @name="kindOfWork"
        @type="select"
        @label={{t "ember-gwr.buildingWork.kindOfWork"}}
        @prompt={{t "ember-gwr.buildingWork.kindOfWorkPlaceholder"}}
        @optionLabelPath="label"
        @optionValuePath="value"
        @optionTargetPath="value"
        @options={{this.kindOfWorkOptions}}
        @validateBeforeSubmit={{false}}
      />
      {{#if (eq this.buildingWork.kindOfWork 6002)}}
        {{#each
          (array
            "energeticRestauration"
            "renovationHeatingsystem"
            "innerConversionRenovation"
            "conversion"
            "extensionHeighteningHeated"
            "extensionHeighteningNotHeated"
            "thermicSolarFacility"
            "photovoltaicSolarFacility"
            "otherWorks"
          )
          as |attr|
        }}
          <Form.input
            @name={{attr}}
            @type="checkbox"
            @label={{t (concat "ember-gwr.buildingWork." attr)}}
          />
        {{/each}}
      {{/if}}
    </ValidatedForm>
  </Modal.body>
  <Modal.footer class="uk-flex uk-flex-column">
    <div class="uk-flex uk-flex-between">
      <UkButton @onClick={{@close}}>
        {{t "ember-gwr.components.linkBuildingModal.cancel"}}
      </UkButton>
      <UkButton
        @color="primary"
        @loading={{@isLoading}}
        @onClick={{fn @linkAction this.buildingWork}}
      >
        {{t "ember-gwr.components.linkBuildingModal.linkBuilding"}}
      </UkButton>
    </div>
    {{#if @errors}}
      <div class="uk-flex uk-margin">
        <ModelForm::SubmitErrors @errors={{@errors}} @expand={{true}} />
      </div>
    {{/if}}
  </Modal.footer>
</UkModal>