<UkModal
  @visible={{this.authFetch.showAuthModal}}
  @btnClose={{false}}
  @escClose={{false}}
  @bgClose={{false}}
  @container="#ember-ebau-gwr-modal-container" as |Modal|
>
  <Modal.header>
    <h2 class="uk-modal-title">
      {{t "ember-gwr.components.loginModal.header"}}
    </h2>
  </Modal.header>
  <Modal.body {{toggle-modal this.authFetch.showAuthModal}}>
    <div class="uk-grid-small" uk-grid>
      <div class="uk-width-1-2">
        <input
          name="username"
          class="uk-input"
          placeholder={{t "ember-gwr.components.loginModal.username"}}
          value={{this.username}}
          {{on "input" this.updateValue}}
        />
      </div>
      <div class="uk-width-1-2">
        <input
          name="password"
          type="password"
          class="uk-input"
          placeholder={{t "ember-gwr.components.loginModal.password"}}
          value={{this.password}}
          {{on "input" this.updateValue}}
        />
      </div>
      <div class="uk-width-1">
        <select
          name="municipality"
          class="uk-select"
          value={{this.municipality}}
          {{on "input" this.updateValue}}
        >
          <option value="">
            {{t "ember-gwr.components.loginModal.municipality"}}
          </option>
          {{#each this.municipalities as |municipality|}}
            <option value={{municipality.id}}>
              {{municipality.name}}
            </option>
          {{/each}}
        </select>
      </div>
    </div>
  </Modal.body>
  <Modal.footer @class="uk-text-right">
    <UkButton
      @color="primary"
      @disabled={{not (and this.username this.password this.municipality)}}
      @loading={{this.authFetch.housingStatToken.isRunning}}
      {{on "click" this.login}}
    >
      {{t "ember-gwr.components.loginModal.login"}}
    </UkButton>
  </Modal.footer>
</UkModal>

{{#unless this.authFetch.showAuthModal}}
  <Logout />
  {{yield}}
{{/unless}}
