<ValidatedForm
  @model={{if @validations (changeset @model @validations) @model}}
  @on-submit={{perform this.submit}}
  @validateBeforeSubmit={{true}}
  class="validated-form"
  ...attributes
  as |f|
>
  {{#let
    (component
      f.submit
      type="submit"
      label=(t "ember-gwr.components.modelForm.save")
      disabled=(or this.isSaving @disabled @importData)
      buttonComponent=(component
        "model-form/submit" loading=this.isSaving color="primary"
      )
    )
    (component
      "model-form/submit-errors"
      errors=(if
        (and f.model.isInvalid f.model.isDirty)
        (array (t "ember-gwr.components.modelForm.validationError"))
        @errors
      )
    )
    as |Submit SubmitErrors|
  }}
    <ModelForm::Header
      @model={{@headerModel}}
      @modelId={{@headerModelId}}
      @projectId={{@projectId}}
      @modelName={{@headerModelName}}
      @modelDescription={{@headerModelDescription}}
      @hasStatus={{@hasStatus}}
      @hasImport={{@hasImport}}
      @import={{@import}}
      @importAllData={{this.importAllData}}
      @modelStatusOptions={{@modelStatusOptions}}
      @nextValidStates={{@nextValidStates}}
      @onStatusChange={{@onStatusChange}}
      @onStatusCorrection={{@onStatusCorrection}}
      @getChangeParameters={{@getChangeParameters}}
      @getCorrectionParameters={{@getCorrectionParameters}}
      @modelStatusField={{@modelStatusField}}
      @translationBase={{or @translationBaseHeader @translationBase}}
      @submit={{Submit}}
      @submitErrors={{SubmitErrors}}
    />
    {{yield
      (component
        "model-form/field"
        model=f.model
        importData=@importData
        translationBase=@translationBase
        input=f.input
        registerDiff=this.registerDiff
        resolveDiff=this.resolveDiff
      )
      f.model
    }}
    <div class="uk-flex-inline uk-flex-nowrap uk-flex-top uk-margin-top">
      <Submit class="uk-flex-none" />
      {{#if @importData}}
        <LinkTo
          @query={{hash import=false}}
          class="uk-button uk-button-default uk-flex-none uk-margin-small-left"
        >
          {{t "ember-gwr.components.modelForm.cancelImport"}}
        </LinkTo>
      {{/if}}
      {{#if (or (and f.model.isInvalid f.model.isDirty) @errors)}}
        <div class="uk-margin-left uk-flex-inline">
          <SubmitErrors />
        </div>
      {{/if}}
    </div>
  {{/let}}
</ValidatedForm>
