<ValidatedForm
  @model={{changeset @model @validations}}
  @on-submit={{perform this.submit}}
  @validateBeforeSubmit={{true}}
  class="validated-form"
  ...attributes as |f|
>

  <ModelForm::Header 
    @model={{@headerModel}}
    @modelId={{@headerModelId}}
    @projectId={{@projectId}}
    @modelName={{@headerModelName}}
    @modelDescription={{@headerModelDescription}}
    @hasStatus={{@hasStatus}}
    @hasImport={{@hasImport}}
    @import={{@import}}
    @importCalumaData={{@importCalumaData}}
    @submit={{component
      f.submit
      type="submit"
      label=(t "ember-gwr.components.modelForm.save")
      disabled=(or this.isSaving @disabled)
      buttonComponent=(component
        "model-form/submit" loading=this.isSaving color="primary"
      )
    }}
    @submitErrors={{component
      "model-form/submit-errors"
      errors=(if
        f.model.isInvalid
        (array (t "ember-gwr.components.modelForm.validationError"))
        @errors
      )
    }}
  />

  {{yield
    (component
      "model-form/field"
      model=f.model
      importData=@importData
      translationBase=@translationBase
      input=f.input
    )
  }}
  
  <div class="uk-flex-inline uk-flex-nowrap uk-flex-top uk-margin-top">
    <f.submit
      class="uk-flex-none"
      @type="submit"
      @label={{t "ember-gwr.components.modelForm.save"}}
      @disabled={{or this.isSaving @disabled}}
      @buttonComponent={{component
        "model-form/submit"
        loading=this.isSaving
        color="primary"
      }}
    />
    {{#if @importData}}
      <LinkTo
        @query={{hash import=false}}
        class="uk-button uk-button-default uk-flex-none uk-margin-small-left"
      >
        {{t "ember-gwr.components.modelForm.cancelImport"}}
      </LinkTo>
    {{/if}}
    {{#if (or f.model.isInvalid @errors)}}
      <div class="uk-margin-left uk-flex-inline">
        <ModelForm::SubmitErrors
          @errors={{if
            f.model.isInvalid
            (array (t "ember-gwr.components.modelForm.validationError"))
            @errors
          }}
        />
      </div>
    {{/if}}
  </div>
</ValidatedForm>
