<form ...attributes {{on "submit" this.submit}}>
  {{yield
    (component
      "project-form/field"
      project=@project
      importData=@importData
      translationBase=@translationBase
    )
  }}

  <button type="submit" class={{configured-classes "button" "button-primary"}}>
    {{t "ember-gwr.components.projectForm.save"}}
  </button>
  {{#if @importData}}
    <LinkTo @query={{hash import=false}} class={{configured-classes "button"}}>
      {{t "ember-gwr.components.projectForm.cancelImport"}}
    </LinkTo>
  {{/if}}
</form>
