<form ...attributes {{on "submit" this.submit}}>
  {{yield
    (component
      "project-form/field"
      model=@project
      importData=@importData
      translationBase=@translationBase
    )
    (component
      "project-form/table"
      model=@project
      importData=@importData
      translationBase=@translationBase
    )
  }}

  <button type="submit" class="uk-button uk-button-primary">
    {{t "ember-gwr.components.projectForm.save"}}
  </button>
  {{#if @importData}}
    <LinkTo @query={{hash import=false}} class="uk-button uk-button-default">
      {{t "ember-gwr.components.projectForm.cancelImport"}}
    </LinkTo>
  {{/if}}
</form>
