<form ...attributes {{on "submit" this.submit}}>
  {{yield
    (component
      "project-form/field"
      project=@project
      importData=@importData
      translationBase=@translationBase
    )
  }}

  <UkButton @type="submit" @color="primary" @loading={{this.isSaving}}>
    {{t "ember-gwr.components.projectForm.save"}}
  </UkButton>
  {{#if @importData}}
    <LinkTo @query={{hash import=false}} class="uk-button uk-button-default">
      {{t "ember-gwr.components.projectForm.cancelImport"}}
    </LinkTo>
  {{/if}}
</form>
