{{#if @instanceId}}
  <div class="ember-ebau-gwr-projects-header">
    <div class="uk-padding-small">
      <LinkedProjects
        @instanceId={{@instanceId}}
        @activeProjectId={{@activeProjectId}}
        @projects={{@projects}}
        class="uk-padding-small"
      />
    </div>
    <hr class="uk-margin-remove" />
    <div uk-alert class="uk-margin-remove">
      <div class="uk-flex uk-flex-between uk-flex-middle">
        <div class="uk-flex uk-flex-middle uk-width-expand uk-margin-right">
          <div class="uk-flex-none uk-margin-right">
            <span uk-icon="icon: info"></span>
          </div>
          <div>
            <div>
              {{t "ember-gwr.nav.housingStatInfo"}}
            </div>
            <div>
              {{t "ember-gwr.nav.deletionInfo"}}
            </div>
          </div>
        </div>
        <div class="uk-width-auto">
          <HousingStatLink />
        </div>
      </div>
    </div>
  </div>
{{else}}
  <BackRoute
    @backRoute="search-project"
    @backText={{t "ember-gwr.globalLandingPage.backToSearch"}}
  />
{{/if}}
{{#if @activeProjectId}}
  <UkTab as |Tab|>
    <Tab.item @href={{build-url "project.form" (array @activeProjectId)}}>
      {{t "ember-gwr.models.project" count=1}}
    </Tab.item>
    <Tab.item
      @href={{build-url "project.linked-buildings" (array @activeProjectId)}}
    >
      {{t "ember-gwr.models.building" count=1}}
    </Tab.item>
    {{#if this.buildingTabInfoText}}
      <div class="uk-padding-remove">
        <span
          uk-icon="icon: question; ratio: 0.8"
          uk-tooltip="title: {{this.buildingTabInfoText}}; container: {{this.config.modalContainer}}"
        ></span>
      </div>
    {{/if}}
    <Tab.item
      class="uk-position-right"
      @href={{build-url "project.errors" (array @activeProjectId)}}
    >
      {{t "ember-gwr.issues.nav"}}
    </Tab.item>
  </UkTab>
{{/if}}