<div class="uk-margin">
  <label class="uk-form-label" for={{this.guid}}>{{t
      "ember-gwr.buildingEntrance.fields.street.description.descriptionLong"
    }}{{if @required " *"}}
  </label>
  <PowerSelect
    @disabled={{@disabled}}
    @renderInPlace={{true}}
    @tabIndex={{"0"}}
    @triggerClass="uk-select"
    @searchEnabled={{true}}
    @search={{perform this.search}}
    @selected={{@street}}
    @onChange={{@onChange}}
    @onFocus={{this.handleFocus}}
    @searchMessage={{t "ember-gwr.components.linkStreet.search"}}
    @noMatchesMessage={{t "ember-gwr.components.search.noResults"}}
    @loadingMessage={{t "ember-gwr.components.search.loading"}}
    id={{this.guid}}
    class="uk-overflow-hidden"
    ...attributes
    as |streetList|
  >
    {{streetList.description.descriptionLong}}{{#if
      streetList.description.descriptionLong
    }}
      <small
        data-test-street-esid
        class="uk-text-muted uk-text-right uk-text-italic uk-margin-small-left"
      >{{t "ember-gwr.street.ESID"}}: {{streetList.ESID}}</small>
    {{/if}}
  </PowerSelect>
  {{#if @disabled}}
    <small data-test-hint class="uk-text-muted">{{t
        "ember-gwr.components.streetSearch.requiredInputs"
      }}</small>
  {{/if}}
</div>
