<div class="uk-margin">
  <label class="uk-form-label" for={{this.inputId}}>{{t
      "ember-gwr.buildingEntrance.fields.street.description.descriptionLong"
    }}{{if @required " *"}}
  </label>
  <div class="uk-form-controls">
    <PowerSelect
      @disabled={{@disabled}}
      @renderInPlace={{true}}
      @tabIndex="0"
      @triggerClass="uk-select"
      @searchEnabled={{true}}
      @search={{perform this.search}}
      @selected={{@value}}
      @onChange={{queue (fn (mut this.dirty) true) @on-update}}
      @onFocus={{this.handleFocus}}
      @searchMessage={{t "ember-gwr.components.linkStreet.search"}}
      @noMatchesMessage={{t "ember-gwr.components.search.noResults"}}
      @loadingMessage={{t "ember-gwr.components.search.loading"}}
      id={{this.inputId}}
      class={{class-list
        "uk-overflow-hidden"
        (if this.isValid "uk-form-success")
        (if this.isInvalid "uk-form-danger")
      }}
      ...attributes
      as |streetList|
    >
      {{streetList.description.descriptionLong}}{{#if
        streetList.description.descriptionLong
      }}
        <small
          data-test-search-street-locality-name
          class="uk-text-muted uk-text-right uk-text-italic uk-margin-small-left"
        >{{t "ember-gwr.locality.name.nameLong"}}:
          {{streetList.locality.name.nameLong}},
        </small>
        <small
          data-test-search-street-esid
          class="uk-text-muted uk-text-right uk-text-italic uk-margin-small-left"
        >
          {{t "ember-gwr.street.ESID"}}:
          {{streetList.ESID}}</small>
      {{/if}}
    </PowerSelect>
  </div>
  {{#if @disabled}}
    <small data-test-hint class="uk-text-muted">{{t
        "ember-gwr.components.streetSearch.requiredInputs"
      }}</small>
    <br />
  {{/if}}
  {{#if (and @invalidSubmit this.errors)}}
    {{component @errorComponent errors=this.errors id=this.errorId}}
  {{/if}}
</div>