{{#unless this.isHidden}}
  {{#if @backRoute}}
    <LinkTo
      @route={{@backRoute}}
      @models={{if @backModel (array @backModel) (array)}}
      class="uk-link-muted uk-margin-small-bottom"
    >
      <span uk-icon="icon: arrow-left"></span>
      {{@backText}}
    </LinkTo>
  {{/if}}
  <UkTab ...attributes as |Tab|>
    {{#each @links as |link|}}
      <Tab.link-item @route={{link.route}} @models={{or link.models (array)}}>
        {{link.text}}
      </Tab.link-item>
    {{/each}}
  </UkTab>
{{/unless}}
