<span class="uk-flex uk-child-width-1-2">
  <span>{{t "ember-gwr.buildingEntrance.fields.buildingEntranceNo"}}</span>
  <span class="uk-text-muted">{{or @model.buildingEntranceNo "-"}}</span>
</span>
<hr />
<span class="uk-flex uk-child-width-1-2">
  <span>{{t "ember-gwr.buildingEntrance.fields.locality.name.nameLong"}}</span>
  <span class="uk-text-muted">{{or @model.locality.name.nameLong "-"}}</span>
</span>
<hr />
<span class="uk-flex uk-child-width-1-2">
  <span>{{t "ember-gwr.buildingEntrance.fields.locality.swissZipCode"}}</span>
  <span class="uk-text-muted">{{or @model.locality.swissZipCode "-"}}</span>
</span>