{{#unless @model.isNew}}
  <div
    uk-alert
    class="{{if this.errorCount 'uk-alert-warning' 'uk-alert-success'}}
      uk-margin-remove-top uk-margin-small-bottom uk-padding-small uk-flex-inline uk-flex-middle"
  >
    <div
      class="uk-label
        {{if this.errorCount 'uk-label-warning' 'uk-label-success'}}"
    >
      {{this.errorCount}}
    </div>
    <div class="uk-margin-small-left">
      {{t
        "ember-gwr.components.header.issues"
        modelName=@modelName
        modelId=@modelId
      }}
    </div>
  </div>
  <div
    uk-dropdown="pos: bottom-right; delay-show: 500"
    class="uk-overflow-auto uk-padding uk-padding-remove-bottom uk-width-xlarge uk-height-max-large"
    id="ember-ebau-gwr-header-errors"
  >
    <h3 class="uk-margin-remove-bottom">
      {{@modelName}}
      {{@modelId}}
    </h3>
    {{#if @projectId}}
      <LinkTo
        @route="project.errors"
        @model={{@projectId}}
        class="uk-link-muted uk-text-small"
      >
        <span>
          {{t "ember-gwr.components.header.linkIssues" projectId=@projectId}}
        </span>
        <span uk-icon="icon: arrow-right"></span>
      </LinkTo>
    {{/if}}
    <hr class="uk-margin-small-bottom" />
    {{#if this.errorCount}}
      <ModelErrors::List @errors={{@model.errorList}} />
    {{else}}
      <div class="uk-margin-medium-bottom">
        {{t
          "ember-gwr.components.header.noIssues"
          modelName=@modelName
          modelId=@modelId
        }}
      </div>
    {{/if}}
  </div>
{{/unless}}
