<div class="uk-card uk-card-default uk-margin uk-card-body">
  <button
    class="uk-position-top-right uk-margin-top uk-margin-right"
    type="button"
    uk-close
    {{on "click" @closeStatus}}
  ></button>
  <div class="uk-flex uk-flex-between uk-flex-middle uk-child-width-1-2">
    <div class="uk-margin-right">
      <div class="uk-text-bold">
        {{t "ember-gwr.components.header.statusSelector.statusLabel"}}
      </div>
      <form>
        <select
          aria-label={{t
            "ember-gwr.components.header.statusSelector.statusLabel"
          }}
          class="uk-select"
          {{on "change" this.statusUpdate}}
        >
          {{#each this.statusOptions as |opt|}}
            <option
              value={{opt.status}}
              selected={{eq this.newStatus opt.status}}
            >{{opt.label}}</option>
          {{/each}}
        </select>
      </form>
      <small class="uk-text-muted uk-flex-inline uk-flex-column uk-width-large">
        {{#if this.changeHint}}
          {{!-- TODO: add change hint
          <div>
            {{this.changeHint}}
          </div>
          --}}
          <div class="uk-margin-small-top">
            <label>
              <input
                class="uk-checkbox uk-margin-small-right"
                type="checkbox"
                checked={{if this.isCascading true undefined}}
                {{on "input" this.toggleCascading}}
              />
              {{t "ember-gwr.lifeCycles.cascadeOption"}}
            </label>
          </div>
        {{/if}}
      </small>
    </div>
    <div class="uk-flex-inline uk-flex-middle uk-flex-right">
      <div
        class="uk-margin-small-right uk-flex-none"
        uk-icon="icon: question"
      ></div>
      <div
        class="uk-width-large"
        uk-dropdown="mode: hover; pos: bottom-left; delay-show: 500; offset: 20"
      >
        {{t "ember-gwr.components.header.statusSelector.actionInfo"}}
      </div>
      {{#if @statusConfiguration.correction}}
        <ModelForm::Header::StatusSelector::SubmitParameters
          @submitLabel={{t
            "ember-gwr.components.header.statusSelector.submitCorrectionLabel"
          }}
          @loading={{and this.submit.isRunning (not this.isChange)}}
          @isPrimary={{false}}
          @dropTitle={{t
            "ember-gwr.components.header.statusSelector.correctionDropTitle"
          }}
          @confirmLabel={{t
            "ember-gwr.components.header.statusSelector.confirmCorrection"
          }}
          @parameters={{this.correctionParameters}}
          @onSubmit={{this.submit}}
          @changeset={{this.changesetCorrection}}
          @errors={{this.correctionErrors}}
          @showDrop={{this.correctionParameters.length}}
          @isChange={{false}}
          @translationBase={{@translationBase}}
        />
      {{/if}}
      {{#if @statusConfiguration.change}}
        <ModelForm::Header::StatusSelector::SubmitParameters
          @submitLabel={{t
            "ember-gwr.components.header.statusSelector.submitChangeLabel"
          }}
          @loading={{and this.submit.isRunning this.isChange}}
          @disabled={{not this.isValidStatusChange}}
          @isPrimary={{true}}
          @dropTitle={{t
            "ember-gwr.components.header.statusSelector.changeDropTitle"
          }}
          @confirmLabel={{t
            "ember-gwr.components.header.statusSelector.confirmChange"
          }}
          @parameters={{this.changeParameters}}
          @onSubmit={{this.submit}}
          @changeset={{this.changesetChange}}
          @errors={{this.changeErrors}}
          @showDrop={{and (not this.errors) this.changeParameters.length}}
          @isChange={{true}}
          @translationBase={{@translationBase}}
        />
      {{/if}}
    </div>
  </div>
  {{#if @statusConfiguration.change}}
    <div
      class="uk-flex uk-flex-nowrap uk-flex-between uk-child-width-1-2 uk-flex-top uk-margin-remove-bottom uk-margin-top"
    >
      {{#if this.modelStatus}}
        <div
          class="uk-flex-inline uk-text-small uk-margin-remove-bottom uk-margin-large-right"
          uk-alert
        >
          <div class="uk-margin-right uk-flex-none" uk-icon="icon: info"></div>
          <div class="uk-flex-inline uk-flex-column">
            <div class="uk-flex-inline uk-flex-top">
              <div class="uk-margin-right uk-flex-none">
                {{t "ember-gwr.components.header.statusSelector.statusInfo"}}
              </div>
            </div>
            <div
              class="uk-flex-inline uk-flex-wrap uk-width-expand uk-margin-small-top"
            >
              {{#each @nextValidStates as |state index|}}
                <div class="uk-flex-inline uk-flex-middle">
                  <div>
                    {{t
                      (concat
                        "ember-gwr.lifeCycles."
                        @modelName
                        ".statusOptions."
                        state
                      )
                    }}
                  </div>
                  {{#if (not-eq index (dec @nextValidStates.length))}}
                    <div class="uk-margin-small-left uk-margin-small-right">
                      |
                    </div>
                  {{/if}}
                </div>
              {{/each}}
              {{#unless @nextValidStates.length}}
                <div class="uk-flex-inline uk-flex-middle">
                  {{t
                    "ember-gwr.components.header.statusSelector.noNextStates"
                  }}
                </div>
              {{/unless}}
            </div>
          </div>
        </div>
      {{/if}}
      {{#if (or this.errors.length this.errors.linkToRoute)}}
        <div class="uk-flex-inline">
          <ModelForm::SubmitErrors @errors={{this.errors}} />
        </div>
      {{/if}}
    </div>
  {{/if}}
</div>
