<div>
  {{#if this.fetchDwellings.isRunning}}
    <div class="uk-flex uk-flex-center uk-flex-middle uk-margin-large-top">
      <UkSpinner @ratio="3" />
    </div>
  {{else}}
    <LinkedModels
      @models={{this.fetchDwellings.lastSuccessful.value}}
      @modelName="dwelling"
      @newRoute="building.edit.dwelling.new"
      {{!--
      TODO removing a entrance is not allowed if there is still a dwelling attached to it
      We also cannot remove an entrance if there is only one.
      @removeLink={{this.removeEntranceLink}}
      --}}
      as |model|
    >
      {{log model.document.children}}
      <td class="uk-table-shrink">
        <LinkTo
          @route={{"building.edit.dwelling.edit"}}
          @model={{model.EWID}}
          class="uk-link"
        >
          {{model.EWID}}
        </LinkTo>
      </td>
      <td>
        {{model.buildingEntranceNo}}
      </td>
    </LinkedModels>
  {{/if}}
</div>
