<div
  {{did-insert (perform this.fetchEntrances)}}
  {{did-update (perform this.fetchEntrances) @model}}
>
  {{#if this.fetchEntrances.isRunning}}
    <div class="uk-flex uk-flex-center uk-flex-middle uk-margin-large-top">
      <UkSpinner @ratio="3" />
    </div>
  {{else}}
    <LinkedModels
      @models={{this.fetchEntrances.lastSuccessful.value}}
      @modelName="entrance"
      @removeLink={{this.removeEntranceLink}}
      {{!--@newRoute="building.edit.entrance.new"
      @newModels={{array @model}}--}} as |model|
    >
      <td class="uk-table-shrink">
        <LinkTo
          @route={{"building.edit.entrance.edit"}}
          @model={{model.EGAID}}
          class="uk-link"
        >
          {{model.EGAID}}
        </LinkTo>
      </td>
      <td>
        {{model.fullAddressText}}
      </td>
    </LinkedModels>
  {{/if}}
</div>
