<div class="uk-flex uk-flex-column uk-flex-right">
  <ImportModal
    @visible={{and this.showImportModal @import.originalData.length}}
    @close={{fn (mut this.showImportModal) false}}
    @import={{@import}}
    @modelName={{@modelName}}
  />
  <div class="uk-flex-inline uk-flex-right uk-flex-middle">
    {{#if (and @modelHasImport @import)}}
      {{#if (and @import.originalData.length (is-unset @import.index))}}
        <button
          class="uk-button uk-button-default uk-margin-small-right uk-flex-none"
          type="button"
          {{on "click" (fn (mut this.showImportModal) true)}}
        >
          {{t "ember-gwr.components.importModal.selectImportData"}}
        </button>
      {{else}}
        <button
          class="uk-button uk-button-default uk-flex-none
            {{if (is-unset @import.index) "uk-margin-small-right"}}"
          type="button"
          {{on "click" @importAllData}}
        >
          {{t "ember-gwr.components.modelForm.applyAll"}}
        </button>
        {{#if (and @import @import.originalData.length)}}
          <button
            class="uk-button uk-button-default uk-flex-none uk-padding-small uk-padding-remove-vertical uk-margin-small-right"
            type="button"
          >
            <span class="uk-icon" uk-icon="more-vertical"></span>
          </button>
          <div
            uk-dropdown="mode: click; pos: bottom-right; offset: 20"
            class="uk-padding-small"
          >
            <ul
              class="uk-nav uk-dropdown-nav uk-list uk-list-divider uk-list-collapse"
            >
              <li>
                <button
                  class="uk-button uk-text-left uk-highlight-hover uk-text-secondary uk-width-1-1 uk-background-default uk-padding-remove"
                  type="button"
                  {{on "click" (fn (mut this.showImportModal) true)}}
                >
                  {{t "ember-gwr.components.importModal.selectImportData"}}
                </button>
              </li>
            </ul>
          </div>
        {{/if}}
      {{/if}}
      <LinkTo
        @query={{hash import=false index=undefined}}
        class="uk-button uk-button-default uk-flex-none uk-margin-small-right"
      >
        {{t "ember-gwr.components.modelForm.cancelImport"}}
      </LinkTo>
    {{/if}}
    {{#let @submit as |Submit|}}
      <Submit />
    {{/let}}
    {{#if (or @modelHasImport @hasStatus)}}
      <button
        class="uk-button uk-button-default uk-flex-none uk-padding-small uk-padding-remove-vertical"
        type="button"
      >
        <span class="uk-icon" uk-icon="more-vertical"></span>
      </button>
      <div
        uk-dropdown="mode: click; pos: bottom-right; offset: 20"
        class="uk-padding-small"
      >
        <ul
          class="uk-nav uk-dropdown-nav uk-list uk-list-divider uk-list-collapse"
        >
          {{#if @modelHasImport}}
            <li>
              <LinkTo
                @disabled={{@import}}
                @query={{hash import=true}}
                class="uk-button uk-text-left uk-highlight-hover
                  {{if @import "uk-text-muted" "uk-text-secondary"}}
                  uk-width-1-1 uk-background-default uk-padding-remove"
              >
                {{t "ember-gwr.components.modelForm.importFromCaluma"}}
              </LinkTo>
            </li>
          {{/if}}
          {{#if @hasStatus}}
            <li>
              <a 
                href="#ember-ebau-gwr-status" 
                uk-scroll 
                class="uk-button uk-text-left uk-highlight-hover uk-text-secondary uk-width-1-1 uk-background-default uk-padding-remove"
                {{on "click" @openStatus}}
              >
                {{t "ember-gwr.components.modelForm.changeStatus"}}
              </a>
            </li>
          {{/if}}
        </ul>
      </div>
    {{/if}}
  </div>
  <div class="uk-margin-small-top uk-flex uk-flex-right">
    {{#let @submitErrors as |SubmitErrors|}}
      <SubmitErrors />
    {{/let}}
  </div>
</div>
