{{#unless @model.isNew}}
  <div
    uk-alert
    class="{{if this.errorCount "uk-alert-danger" "uk-alert-success"}}
       uk-flex-none uk-margin-remove uk-padding-small"
  >
    <span
      class="uk-label
        {{if this.errorCount "uk-label-danger" "uk-label-success"}}"
    >
      {{this.errorCount}}
    </span>
    <span class="uk-margin-small-left">
      {{t
        "ember-gwr.components.header.issues"
        modelName=@modelName
        modelId=@modelId
      }}
    </span>
  </div>
  <div
    uk-dropdown="pos: bottom-right; delay-show: 500"
    class="uk-overflow-auto uk-padding uk-padding-remove-bottom uk-width-xlarge uk-height-max-large"
    id="ember-ebau-gwr-header-errors"
  >
    <h3 class="uk-margin-remove-bottom">
      {{@modelName}}
      {{@modelId}}
    </h3>
    <LinkTo
      @route="project.errors"
      @model={{@projectId}}
      class="uk-link-muted uk-text-small"
    >
      <span>
        {{t "ember-gwr.components.header.linkIssues" projectId=@projectId}}
      </span>
      <span uk-icon="icon: arrow-right"></span>
    </LinkTo>
    <hr class="uk-margin-small-bottom" />
    {{#if this.errorCount}}
      <ModelErrors::List @errors={{@model.errorList}} />
    {{else}}
      <div
        class="uk-margin-medium-bottom"
      >
        {{t
          "ember-gwr.components.header.noIssues"
          modelName=@modelName
          modelId=@modelId
        }}
      </div>
    {{/if}}
  </div>
{{/unless}}