<div
  {{did-insert (perform this.fetchProject)}}
  {{did-update (perform this.fetchProject) @model.projectId}}
>
  {{#if this.fetchProject.isRunning}}
    <div class="uk-flex uk-flex-center uk-flex-middle uk-margin-large-top">
      <UkSpinner @ratio="3" />
    </div>
  {{else}}
    <div class="uk-flex uk-flex-between">
      <h2>
        {{#if this.project.isNew}}
          {{t "ember-gwr.landingPage.createNewProject"}}
        {{else}}
          {{t "ember-gwr.components.projectForm.title" id=@model.projectId}}
        {{/if}}
      </h2>
      <div>
        {{#if this.import}}
          <button
            class="uk-button uk-button-default"
            type="button"
            {{on "click" this.importCalumaData}}
          >
            {{t "ember-gwr.components.projectForm.applyAll"}}
          </button>
          <LinkTo
            @query={{hash import=false}}
            class="uk-button uk-button-default"
          >
            {{t "ember-gwr.components.projectForm.cancelImport"}}
          </LinkTo>
        {{else if this.project.isNew}}
          <button
            class="uk-button uk-button-primary"
            type="button"
            {{on "click" this.importCalumaData}}
          >
            {{t "ember-gwr.components.projectForm.importFromCaluma"}}
          </button>
        {{else}}
          <LinkTo
            @query={{hash import=true}}
            class="uk-button uk-button-primary"
          >
            {{t "ember-gwr.components.projectForm.importFromCaluma"}}
          </LinkTo>
        {{/if}}
      </div>
    </div>

    <ModelForm
      @model={{this.project}}
      @validations={{this.ConstructionProjectValidations}}
      @importData={{if this.import this.importData}}
      @onSubmit={{this.saveProject}}
      @translationBase="ember-gwr.constructionProject.fields"
      {{did-insert (perform this.fetchCalumaData)}}
      as |Field|
    >
      {{#unless this.project.isNew}}
        <div class="uk-flex uk-flex-wrap uk-flex-between">
          <div class="uk-width-1-4@m uk-width-1">
            <Field @type="number" @attr="EPROID" @disabled={{true}} />
          </div>
          <div class="uk-width-1-4@m uk-width-1">
            <Field
              @disabled={{true}}
              @attr="officialConstructionProjectFileNo"
            />
          </div>
          <div class="uk-width-1-4@m uk-width-1">
            <Field
              @type="number"
              @disabled={{true}}
              @attr="extensionOfOfficialConstructionProjectFileNo"
            />
          </div>
        </div>
        <Field
          @attr="constructionLocalisation.municipalityName"
          @disabled={{true}}
        />
      {{/unless}}
      <Field
        @type="number"
        @attr="constructionSurveyDeptNumber"
        @disabled={{true}}
      />
      <Field
        @inputType="select"
        @convertValueTo="number"
        @required={{true}}
        @attr="typeOfConstructionProject"
        @gwrEnumOptions={{this.choiceOptions.typeOfConstructionProjectOptions}}
      />
      <Field
        @inputType="textarea"
        @required={{true}}
        @attr="constructionProjectDescription"
      />
      <Field
        @inputType="select"
        @convertValueTo="number"
        @required={{true}}
        @attr="typeOfPermit"
        @gwrEnumOptions={{this.choiceOptions.typeOfPermitOptions}}
      />
      <Field
        @type="number"
        @step="1000"
        @min="1000"
        @max="99999999900"
        @required={{true}}
        @attr="totalCostsOfProject"
      />
      <Field
        @inputType="select"
        @convertValueTo="number"
        @attr="typeOfConstruction"
        @gwrEnumOptions={{this.choiceOptions.typeOfConstructionOptions}}
      />
      <h3>
        {{t "ember-gwr.components.projectForm.dates"}}
      </h3>
      <div
        class="uk-flex uk-flex-wrap
          {{if
            this.import
            "uk-child-width-1-1"
            "uk-child-width-1-4@l uk-child-width-1-3@m uk-child-width-1-2@s"
          }}"
      >
        {{#let (unless this.import "uk-padding-small") as |spacingClass|}}
          <div class={{spacingClass}}>
            <Field
              @inputType="date"
              @attr="projectAnnouncementDate"
              @required={{true}}
            />
          </div>
          <div class={{spacingClass}}>
            <Field @inputType="date" @attr="buildingPermitIssueDate" />
          </div>
          <div class={{spacingClass}}>
            <Field @inputType="date" @attr="projectStartDate" />
          </div>
          <div class={{spacingClass}}>
            <Field @inputType="date" @attr="projectCompletionDate" />
          </div>
          <div class={{spacingClass}}>
            <Field @inputType="date" @attr="projectSuspensionDate" />
          </div>
          <div class={{spacingClass}}>
            <Field
              @inputType="date"
              @attr="constructionAuthorisationDeniedDate"
            />
          </div>
          <div class={{spacingClass}}>
            <Field @inputType="date" @attr="nonRealisationDate" />
          </div>
          <div class={{spacingClass}}>
            <Field @inputType="date" @attr="withdrawalDate" />
          </div>
        {{/let}}
      </div>
      <h3>
        {{t "ember-gwr.components.projectForm.realEstateHeading"}}
      </h3>
      <Field @type="number" @attr="realestateIdentification.number" />
      <Field @type="number" @attr="realestateIdentification.EGRID" />
      <h3>
        {{t "ember-gwr.components.projectForm.clientHeading"}}
      </h3>
      <Field
        @inputType="select"
        @convertValueTo="number"
        @required={{true}}
        @attr="typeOfClient"
        @gwrEnumOptions={{this.choiceOptions.typeOfClientOptions}}
      />
      <Field
        @inputType="checkbox"
        @attr="client.identification.isOrganisation"
        @on-update={{fn (mut this.isOrganisation)}}
      />
      {{#if
        (or
          this.isOrganisation
          (and
            this.import
            this.importData.client.identification.organisationIdentification.organisationName
          )
        )
      }}
        <div class="uk-flex uk-margin">
          <div class="uk-width-1-2 uk-margin-small-right">
            <Field
              @attr="client.identification.organisationIdentification.organisationName"
              @noMargin={{true}}
            />
          </div>
          <div class="uk-width-1-2">
            <Field
              @attr="client.identification.organisationIdentification.organisationAdditionalName"
              @noMargin={{true}}
            />
          </div>
        </div>
        <div class="uk-flex uk-margin">
          <div class="uk-width-1-6">
            <Field
              @attr="client.identification.organisationIdentification.localOrganisationId.organisationIdCategory"
              @noMargin={{true}}
            />
          </div>
          <div class="uk-width-5-6 uk-margin-small-left">
            <Field
              @attr="client.identification.organisationIdentification.localOrganisationId.organisationId"
              @noMargin={{true}}
              @placeholder={{"100.200.300"}}
            />
          </div>
        </div>
      {{else}}
        <div class="uk-flex uk-margin">
          <div class="uk-width-1-2 uk-margin-small-right">
            <Field
              @attr="client.identification.personIdentification.officialName"
              @noMargin={{true}}
            />
          </div>
          <div class="uk-width-1-2">
            <Field
              @attr="client.identification.personIdentification.firstName"
              @noMargin={{true}}
            />
          </div>
        </div>
      {{/if}}
      <div class="{{unless this.import "uk-flex"}} uk-margin">
        <div class={{if this.import "uk-margin" "uk-width-5-6"}}>
          <Field @attr="client.address.street" @noMargin={{true}} />
        </div>
        <div class={{unless this.import "uk-width-1-6 uk-margin-small-left"}}>
          <Field
            @type="number"
            @attr="client.address.houseNumber"
            @noMargin={{true}}
          />
        </div>
      </div>
      <div class="{{unless this.import "uk-flex"}} uk-margin">
        <div class={{if this.import "uk-margin" "uk-width-1-6"}}>
          <Field
            @type="number"
            @attr="client.address.swissZipCode"
            @noMargin={{true}}
          />
        </div>
        <div class={{unless this.import "uk-width-5-6 uk-margin-small-left"}}>
          <Field @attr="client.address.town" @noMargin={{true}} />
        </div>
      </div>
      <Field
        @inputType="select"
        @attr="client.address.country"
        @gwrEnumOptions={{this.choiceOptions.countryOptions}}
      />
    </ModelForm>
  {{/if}}
</div>
