<nav class={{configured-classes "nav"}}>
  <ol class={{configured-classes "nav-list"}}>
    <li class={{configured-classes "nav-item"}}>
      <LinkTo @route="project">
        {{t "ember-gwr.nav.projectDetails"}}
      </LinkTo>
    </li>
    <li class={{configured-classes "nav-item"}}>
      <a href="#">
        {{t "ember-gwr.nav.linkedBuildings"}}
      </a>
    </li>
  </ol>
</nav>

{{outlet}}
