<nav class={{configured-classes "nav"}}>
  <ol class={{configured-classes "nav-list"}}>
    <li class={{configured-classes "nav-item"}}>
      <LinkTo @route="project">
        Projektdetails
      </LinkTo>
    </li>
    <li class={{configured-classes "nav-item"}}>
      <a href="#">
        Verlinkte Gebäude
      </a>
    </li>
  </ol>
</nav>

{{outlet}}
