<div {{did-insert this.onLoad}}>
  {{#if this.constructionProject.all.isRunning}}
    <div class="uk-flex uk-flex-center uk-flex-middle uk-margin-large-top">
      <UkSpinner @ratio="3" />
    </div>
  {{else}}
    {{#if this.displayLandingPage}}
      <LandingPage />
    {{else}}
      <LinkedProjects
        @projects={{this.projects}}
        @activeProject={{this.activeProject}}
        @removeProject={{this.removeProjectLink}}
      />
      <ul uk-tab>
        <li>
          <LinkTo @route="project.form" @model={{this.activeProject}}>
            Projekt
          </LinkTo>
        </li>
        <li>
          <LinkTo
            @route="project.linked-buildings"
            @model={{this.activeProject}}
          >
            Gebäude
          </LinkTo>
        </li>
      </ul>
      {{outlet}}
    {{/if}}
  {{/if}}
</div>
