<div {{did-insert this.onLoad}} {{did-update this.onLoad}}>
  {{#if this.constructionProject.all.isRunning}}
    <div class="uk-flex uk-flex-center uk-flex-middle uk-margin-large-top">
      <UkSpinner @ratio="3" />
    </div>
  {{else}}
    {{#if this.displayLandingPage}}
      <LandingPage />
    {{else}}
      <LinkedProjects
        @projects={{this.projects}}
        @activeProject={{this.activeProject}}
        @removeProject={{this.removeProjectLink}}
      />
      <UkTab as |Tab|>
        <Tab.link-item @route="project.form" @model={{this.activeProject}}>
          {{t "ember-gwr.models.project" count=1}}
        </Tab.link-item>
        <Tab.link-item
          @route="project.linked-buildings"
          @model={{this.activeProject}}
        >
          {{t "ember-gwr.models.building" count=1}}
        </Tab.link-item>
        {{#if this.activeProject}}
          <Tab.link-item
            class="uk-position-right"
            @route="project.errors"
            @model={{this.activeProject}}
          >
            {{t "ember-gwr.issues.nav"}}
          </Tab.link-item>
        {{/if}}
      </UkTab>
      {{outlet}}
    {{/if}}
  {{/if}}
</div>
