<div {{did-insert this.onLoad}} {{did-update this.onLoad}}>
  {{#if this.constructionProject.all.isRunning}}
    <div class="uk-flex uk-flex-center uk-flex-middle uk-margin-large-top">
      <UkSpinner @ratio="3" />
    </div>
  {{else}}
    {{#if this.displayLandingPage}}
      <LandingPage />
    {{else}}
      <div class="ember-ebau-gwr-projects-header">
        <div class="uk-padding-small">
          <LinkedProjects
            @projects={{this.projects}}
            @activeProject={{this.activeProject}}
            @removeProject={{this.removeProjectLink}}
            class="uk-padding-small"
          />
        </div>
        <hr class="uk-margin-remove" />
        <div
          uk-alert
          class="uk-flex uk-flex-between uk-flex-middle uk-margin-remove"
        >
          <span class="uk-flex uk-flex-middle">
            <span uk-icon="icon: info" class="uk-margin-small-right"></span>
            <span>
              {{t "ember-gwr.nav.housingStatInfo"}}
            </span>
          </span>
          <a
            class="uk-button uk-button-default"
            {{! TODO make this configurable}}
            href={{this.config.housingStatLink}}
            target="_blank"
            rel="noopener noreferrer"
          >
            {{t "ember-gwr.nav.housingStatLink"}}
          </a>
        </div>
      </div>
      <UkTab as |Tab|>
        <Tab.link-item @route="project.form" @model={{this.activeProject}}>
          {{t "ember-gwr.models.project" count=1}}
        </Tab.link-item>
        <Tab.link-item
          @route="project.linked-buildings"
          @model={{this.activeProject}}
          @disabled={{this.buildingTabInfoText}}
        >
          {{t "ember-gwr.models.building" count=1}}
        </Tab.link-item>
        {{#if this.buildingTabInfoText}}
          <div class="uk-padding-remove">
            <span
              uk-icon="icon: question"
              uk-tooltip="title: {{this.buildingTabInfoText}}; container: {{this.config.modalContainer}}"
            ></span>
          </div>
        {{/if}}
        {{#if this.activeProject}}
          <Tab.link-item
            class="uk-position-right"
            @route="project.errors"
            @model={{this.activeProject}}
          >
            {{t "ember-gwr.issues.nav"}}
          </Tab.link-item>
        {{/if}}
      </UkTab>
      {{outlet}}
    {{/if}}
  {{/if}}
</div>
