{{#if @model}}
  <BackRoute
    @backRoute="project.linked-buildings"
    @backModel={{@model}}
    @backText={{t "ember-gwr.building.backToProject"}}
  />
  <h1>
    {{t "ember-gwr.searchBuilding.heading"}}
  </h1>
{{else}}
  <BackRoute
    @backRoute="global-landing-page"
    @backText={{t "ember-gwr.globalLandingPage.backToGlobal"}}
  />
  <h1>
    {{t "ember-gwr.searchBuilding.headingGlobal"}}
  </h1>
{{/if}}

<Search
  @extendedSearch={{true}}
  @service={{this.building}}
  @baseQuery={{this.baseQuery}}
  @paginate={{true}}
  @validations={{this.validations}}
  @idField="EGID"
>
  <:filters as |Filters|>
    <Filters
      @submitLabel={{t "ember-gwr.searchBuilding.search"}}
      as |FilterInput ErrorSelect Form|
    >
      <div class="uk-flex uk-flex-wrap uk-flex-between">
        <div class="uk-width-1-3@m uk-width-1">
          <div class="uk-margin-small-right">
            <FilterInput
              @label={{t "ember-gwr.building.EGID"}}
              @name="EGID"
              @type="number"
            />
          </div>
        </div>
        <div class="uk-width-1-3@m uk-width-1">
          <div class="uk-margin-small-right">
            <FilterInput
              @label={{t
                "ember-gwr.building.dateOfConstruction.periodOfConstruction"
              }}
              @type="select"
              @name="periodOfConstruction"
              @prompt={{t
                "ember-gwr.building.dateOfConstruction.periodOfConstructionPlaceholder"
              }}
              @promptIsSelectable={{true}}
              @options={{this.periodOfConstructionOptions}}
              @disabled={{Form.model.EGID}}
            />
          </div>
        </div>
        <div class="uk-width-1-3@m uk-width-1">
          <div class="uk-margin-small-right">
            <ErrorSelect @disabled={{Form.model.EGID}} />
          </div>
        </div>
        <div class="uk-width-1-3@m uk-width-1">
          <div class="uk-margin-small-right">
            <FilterInput
              @name="descriptionLong"
              @label={{t
                "ember-gwr.building.street.description.descriptionLong"
              }}
              @disabled={{Form.model.EGID}}
            />
          </div>
        </div>
        <div class="uk-width-1-3@m uk-width-1">
          <div class="uk-margin-small-right">
            <FilterInput
              @name="buildingEntranceNo"
              @label={{t "ember-gwr.building.buildingEntranceNo"}}
              @disabled={{Form.model.EGID}}
            />
          </div>
        </div>
        <div class="uk-width-1-3@m uk-width-1">
          <div class="uk-margin-small-right">
            <FilterInput
              @name="nameLong"
              @label={{t "ember-gwr.building.locality.name.nameLong"}}
              @disabled={{Form.model.EGID}}
            />
          </div>
        </div>
      </div>
    </Filters>
  </:filters>

  <:results as |Results|>
    <Results as |TableHeader Rows|>
      <TableHeader as |HeaderColumn|>
        <HeaderColumn
          class="uk-table-shrink"
          @label={{t "ember-gwr.building.EGID"}}
        />
        <HeaderColumn
          @label={{t "ember-gwr.searchBuilding.entrances"}}
          class="uk-table-expand"
        />
        <HeaderColumn
          @label={{t
            "ember-gwr.building.dateOfConstruction.periodOfConstruction"
          }}
        />
        <HeaderColumn
          @label={{t "ember-gwr.searchBuilding.previewBuilding"}}
          class="uk-table-shrink uk-text-nowrap"
        />
      </TableHeader>

      <Rows class="uk-visible-toggle" as |TableRowColumn|>
        <TableRowColumn @attr="EGID" as |value|>
          <button
            class="uk-button uk-button-link"
            type="button"
            {{on
              "click"
              (fn
                (if @model this.setActiveBuilding this.redirectToBuilding) value
              )
            }}
          >
            {{value}}
          </button>
        </TableRowColumn>
        <TableRowColumn @attr="fullAddressTexts" as |value|>
          <ul class="uk-list">
            {{#each value as |entrance|}}
              <li>
                {{entrance}}
              </li>
            {{/each}}
          </ul>
        </TableRowColumn>
        <TableRowColumn @attr="dateOfConstruction" as |value|>
          {{#if value.periodOfConstruction}}
            {{t
              (concat
                "ember-gwr.building.dateOfConstruction.periodOfConstructionOptions."
                value.periodOfConstruction
              )
            }}
          {{else if value.year}}
            {{value.year}}
          {{else}}
            -
          {{/if}}
        </TableRowColumn>
        <TableRowColumn class="uk-flex uk-flex-center" as |_ data|>
          <a
            href="#"
            class="uk-icon-button uk-invisible-hover"
            {{inverse-background inverse="white" compareTo="tr"}}
            {{on "click" (perform this.loadBuildingPreview data)}}
          >
            {{#if
              (and
                this.loadBuildingPreview.isRunning
                (call (fn this.isCurrentlySelectedBuilding data))
              )
            }}
              <UkSpinner />
            {{else}}
              <FaIcon @icon="eye" @fixedWidth={{true}} />
            {{/if}}
          </a>
        </TableRowColumn>
      </Rows>
    </Results>
  </:results>
</Search>

<UkModal
  @visible={{this.previewBuilding}}
  @onHide={{fn (mut this.loadBuildingPreview.lastSuccessful.value) null}}
  @container={{this.config.modalContainer}}
  as |Modal|
>
  {{#if this.previewBuilding}}
    <Modal.header>
      <h2 class="uk-modal-title">
        {{t
          "ember-gwr.building.title"
          id=this.previewBuilding.EGID
          status=(if this.previewBuilding.buildingStatus
            (t
              (concat
                "ember-gwr.building.buildingStatusOptions."
                this.previewBuilding.buildingStatus
              )
            )
          )
        }}
      </h2>
    </Modal.header>
    <Modal.body class="uk-overflow-auto">
      <BuildingPreview @model={{this.previewBuilding}} />
    </Modal.body>
  {{/if}}
</UkModal>

<LinkBuildingModal
  @visible={{this.activeBuilding}}
  @close={{fn this.setActiveBuilding null}}
  @linkAction={{perform this.linkBuilding this.activeBuilding}}
  @errors={{this.errors}}
  @isLoading={{this.linkBuilding.isRunning}}
/>
