<h1>
  {{t "ember-gwr.searchBuilding.heading"}}
</h1>

<Search::Filters
  @search={{this.search}}
  @searchLabel={{t "ember-gwr.searchBuilding.search"}}
  @showExtendedSearch={{true}}
  as |Field|
>
  <div class="uk-flex uk-flex-wrap uk-flex-between">
    <div class="uk-width-1-3@m uk-width-1">
      <div class="uk-margin-small-right">
        <Field
          @name="EGID"
          type="number"
          @label={{t "ember-gwr.building.EGID"}}
        />
      </div>
    </div>
    <div class="uk-width-1-3@m uk-width-1">
      <div class="uk-margin-small-right">
        <Field
          @name="periodOfConstruction"
          @inputType="select"
          @options={{this.periodOfConstruction}}
          @label={{t
            "ember-gwr.building.dateOfConstruction.periodOfConstruction"
          }}
        />
      </div>
    </div>
    <div class="uk-width-1-3@m uk-width-1">
      <div class="uk-margin-small-right">
        <Field
          @name="hasError"
          @label={{t "ember-gwr.searchBuilding.hasError"}}
          @inputType="select"
          @options={{array true false}}
        />
      </div>
    </div>

    <div class="uk-width-1-3@m uk-width-1">
      <div class="uk-margin-small-right">
        <Field
          @name="descriptionLong"
          @label={{t "ember-gwr.building.street.description.descriptionLong"}}
        />
      </div>
    </div>
    <div class="uk-width-1-3@m uk-width-1">
      <div class="uk-margin-small-right">
        <Field
          @name="buildingEntranceNo"
          @label={{t "ember-gwr.building.buildingEntranceNo"}}
        />
      </div>
    </div>
    <div class="uk-width-1-3@m uk-width-1">
      <div class="uk-margin-small-right">
        <Field
          @name="nameLong"
          @label={{t "ember-gwr.building.locality.name.nameLong"}}
        />
      </div>
    </div>
  </div>
</Search::Filters>

{{#if this.search.last}}
  <Search::ResultTable
    @results={{this.searchResults}}
    @loading={{this.search.isRunning}}
    as |Row|
  >
    <Search::ResultTable::Head as |Header|>
      <Header class="uk-table-shrink" @label={{t "ember-gwr.building.EGID"}} />
      <Header
        @label={{t "ember-gwr.searchBuilding.entrances"}}
        class="uk-table-expand"
      />
      <Header
        @label={{t
          "ember-gwr.building.dateOfConstruction.periodOfConstruction"
        }}
      />
    </Search::ResultTable::Head>
    <Row as |Field|>
      <Field @name="EGID" as |value|>
        <button
          class="uk-button uk-button-link"
          type="button"
          {{on "click" (fn this.setActiveBuilding value)}}
        >
          {{value}}
        </button>
      </Field>
      <Field @name="fullAddressTexts" as |value|>
        <ul class="uk-list">
          {{#each value as |entrance|}}
            <li>
              {{entrance}}
            </li>
          {{/each}}
        </ul>
      </Field>
      <Field @name="dateOfConstruction" as |value|>
        {{#if value.periodOfConstruction}}
          {{t
            (concat
              "ember-gwr.building.dateOfConstruction.periodOfConstructionOptions."
              value.periodOfConstruction
            )
          }}
        {{else if value.year}}
          {{value.year}}
        {{else}}
          -
        {{/if}}
      </Field>
    </Row>
  </Search::ResultTable>

  <LinkBuildingModal
    @visible={{this.activeBuilding}}
    @close={{fn this.setActiveBuilding null}}
    @linkAction={{perform this.linkBuilding this.activeBuilding}}
    @errors={{this.errors}}
    @isLoading={{this.linkBuilding.isRunning}}
  />
{{/if}}
