{{#if @model}}
  <BackRoute
    @backRoute="project"
    @backModel={{@model}}
    @backText={{t "ember-gwr.building.backToProject"}}
  />
  <h1>
    {{t "ember-gwr.searchProject.heading"}}
  </h1>
{{else}}
  <BackRoute
    @backRoute="global-landing-page"
    @backText={{t "ember-gwr.globalLandingPage.backToGlobal"}}
  />
  <h1>
    {{t "ember-gwr.searchProject.searchGlobal"}}
  </h1>
{{/if}}

<Search
  @service={{this.constructionProject}}
  @baseQuery={{this.baseQuery}}
  @paginate={{true}}
  @extendedSearch={{true}}
  @validations={{this.validations}}
  @idField="EPROID"
  @onSearch={{perform this.fetchInstanceLinks}}
>
  <:filters as |Filters|>
    <Filters
      @submitLabel={{t "ember-gwr.searchProject.search"}}
      as |FilterInput ErrorSelect Form|
    >
      <div class="uk-flex uk-flex-wrap uk-flex-between">
        <div class="uk-width-1-3@m uk-width-1">
          <div class="uk-margin-small-right">
            <FilterInput
              @name="EPROID"
              type="number"
              @label={{t "ember-gwr.searchProject.EPROID"}}
            />
          </div>
        </div>
        <div class="uk-width-1-3@m uk-width-1">
          <div class="uk-margin-small-right">
            <FilterInput
              @label={{t "ember-gwr.searchProject.projectStatus"}}
              @type="select"
              @name="projectStatus"
              @prompt={{t "ember-gwr.searchProject.projectStatusPlaceholder"}}
              @promptIsSelectable={{true}}
              @options={{this.projectStatusOptions}}
              @disabled={{Form.model.EPROID}}
            />
          </div>
        </div>
        <div class="uk-width-1-3@m uk-width-1">
          <div class="uk-margin-small-right">
            <ErrorSelect @disabled={{Form.model.EPROID}} />
          </div>
        </div>
      </div>
    </Filters>
  </:filters>

  <:results as |Results|>
    <Results as |TableHeader Rows|>
      <TableHeader as |HeaderColumn|>
        <HeaderColumn
          class="uk-table-shrink"
          @label={{t "ember-gwr.constructionProject.fields.EPROID"}}
        />
        <HeaderColumn
          @label={{t
            "ember-gwr.constructionProject.fields.officialConstructionProjectFileNo"
          }}
        />
        <HeaderColumn
          class="uk-table-expand"
          @label={{t
            "ember-gwr.constructionProject.fields.constructionProjectDescription"
          }}
        />
        <HeaderColumn @label={{t "ember-gwr.searchProject.instanceIds"}} />
        <HeaderColumn @label={{t "ember-gwr.searchProject.projectStatus"}} />
      </TableHeader>

      <Rows as |TableRowColumn|>
        <TableRowColumn @attr="EPROID" as |value|>
          <button
            class="uk-button uk-button-link"
            type="button"
            {{on "click" (fn this.selectProject value)}}
          >
            {{value}}
          </button>
        </TableRowColumn>
        <TableRowColumn @attr="officialConstructionProjectFileNo" />
        <TableRowColumn @attr="constructionProjectDescription" />
        <TableRowColumn @attr="EPROID" as |value|>
          <InstanceLink @links={{filter-by "eproid" value this.links}} />
        </TableRowColumn>
        <TableRowColumn @attr="projectStatus" as |value|>
          {{#if value}}
            {{t (concat "ember-gwr.searchProject.projectStatusOptions." value)}}
          {{/if}}
        </TableRowColumn>
      </Rows>
    </Results>
  </:results>
</Search>
