<h1>
  {{t "ember-gwr.searchProject.heading"}}
</h1>

<Search::Filters
  @search={{this.search}}
  @translationBase="ember-gwr.searchProject"
  @showExtendedSearch={{true}}
  @searchLabel={{t "ember-gwr.searchProject.search"}}
  as |Field|
>
  <div class="uk-flex uk-flex-wrap uk-flex-between">
    <div class="uk-width-1-3@m uk-width-1">
      <div class="uk-margin-small-right">
        <Field @attr="EPROID" type="number" />
      </div>
    </div>
    <div class="uk-width-1-3@m uk-width-1">
      <div class="uk-margin-small-right">
        <Field
          @attr="projectStatus"
          @inputType="select"
          @options={{this.projectStatusOptions}}
        />
      </div>
    </div>
    <div class="uk-width-1-3@m uk-width-1">
      <div class="uk-margin-small-right">
        <Field
          @attr="hasError"
          @inputType="select"
          @options={{array true false}}
        />
      </div>
    </div>
    <div class="uk-width-1-3@m uk-width-1">
      <div class="uk-margin-small-right">
        <Field @attr="realestateIdentification.number" type="number" />
      </div>
    </div>
  </div>
</Search::Filters>

{{#if this.search.last}}
  <Search::ResultTable
    @results={{this.searchResults}}
    @loading={{this.search.isRunning}}
    as |Row|
  >
    <Search::ResultTable::Head as |Header|>
      <Header
        class="uk-table-shrink"
        @label={{t "ember-gwr.constructionProject.fields.EPROID"}}
      />
      <Header
        @label={{t "ember-gwr.constructionProject.fields.officialConstructionProjectFileNo"}}
      />
      <Header
        class="uk-table-expand"
        @label={{t
          "ember-gwr.constructionProject.fields.constructionProjectDescription"
        }}
      />
      <Header @label={{t "ember-gwr.searchProject.projectStatus"}} />
    </Search::ResultTable::Head>
    <Row as |Field|>
      <Field @attr="EPROID" as |value|>
        <button
          class="uk-button uk-button-link"
          type="button"
          {{on "click" (fn this.linkProject value)}}
        >
          {{value}}
        </button>
      </Field>
      <Field @attr="officialConstructionProjectFileNo" />
      <Field @attr="constructionProjectDescription" />
      <Field @attr="projectStatus" as |value|>
        {{#if value}}
          {{t (concat "ember-gwr.searchProject.projectStatusOptions." value)}}
        {{/if}}
      </Field>
    </Row>
  </Search::ResultTable>
{{/if}}
