{{#if @isRunning}}
  <ModelErrors::SkeletonErrors />
{{else}}
  <ul class="uk-list uk-list-divider">
    {{#each @errors as |error|}}
      <li>
        <div class="uk-flex uk-flex-left uk-flex-top">
          <div class="uk-flex-none ember-ebau-gwr-label-width">
            <div
              class="uk-label uk-text-small uk-text-center
                {{if
                  (eq error.action this.options.errorActionOptions.refused)
                  'ember-ebau-gwr-label-color-danger'
                  'ember-ebau-gwr-label-color-warning'
                }}"
            >
              {{error.action}}
            </div>
          </div>
          <div class="uk-margin-left">
            {{error.messageOfError}}
          </div>
        </div>
      </li>
    {{else}}
      <li>
        <div class="uk-text-success uk-flex uk-flex-middle">
          <FaIcon @icon="circle-check" @fixedWidth={{true}} class="margin-right-xs" @size="sm" />
          <div>
            {{t "ember-gwr.components.modelErrors.empty"}}
          </div>
        </div>
      </li>
    {{/each}}
  </ul>
{{/if}}
