<div>
  {{#if this.fetchBuildingEntrance.isRunning}}
    <div class="uk-flex uk-flex-center uk-flex-middle uk-margin-large-top">
      <UkSpinner @ratio="3" />
    </div>
  {{else}}
    <h2 class="uk-flex uk-flex-between">
      <span>
        {{#if this.buildingEntrance.isNew}}
          {{t "ember-gwr.buildingEntrance.createNewEntrance"}}
        {{else}}
          {{t
            "ember-gwr.buildingEntrance.title"
            address=this.buildingEntrance.fullAddressText
          }}
        {{/if}}
      </span>
    </h2>

    <ModelForm
      @model={{this.buildingEntrance}}
      @validations={{this.BuildingEntranceValidations}}
      @onSubmit={{this.saveBuildingEntrance}}
      @translationBase="ember-gwr.buildingEntrance.fields"
      @disabled={{not this.buildingEntrance.street.ESID}}
      as |Field|
    >

      {{#unless this.buildingEntrance.isNew}}
        <Field @attr="EDID" @type="number" @disabled={{true}} />
      {{/unless}}
      <Field
        @attr="locality.name.nameLong"
        @required={{true}}
        @disabled={{not this.buildingEntrance.isNew}}
      />
      {{#unless this.buildingEntrance.isNew}}
        <Field
          @attr="locality.swissZipCode"
          @type="number"
          @disabled={{not this.buildingEntrance.isNew}}
        />
      {{/unless}}

      <Field @attr="buildingEntranceNo" />
      <Field @attr="isOfficialAddress" @type="checkbox" />

      {{!--
      This is not wokrking for some reason. Not sure if this is even needed on the entrance.

      <h2>{{t "ember-gwr.buildingEntrance.coordinates"}}</h2>
      <Field
        @attr="coordinates.north"
        @type="number"
        @step="0.001"
        @min="1070000.0"
        @max="1300000.999"
      />
      <Field
        @attr="coordinates.east"
        @type="number"
        @step="0.001"
        @min="2480000.0"
        @max="2840000.999"
      />
      <Field
        @attr="coordinates.originOfCoordinates"
        @type="select"
        @convertValueTo="number"
        @gwrEnumOptions={{this.Models.Coordinates.originOfCoordinatesOptions}}
      />
      --}}

      <div class="uk-flex uk-flex-between">
        <h2>{{t "ember-gwr.buildingEntrance.street"}}</h2>
        <span>
          <LinkTo
            class="uk-button
              {{if
                this.buildingEntrance.isNew
                "uk-button-primary"
                "uk-button-default"
              }}"
            @route="building.edit.entrance.edit.link-street"
            @models={{if this.buildingEntrance.isNew (array "new") (array)}}
          >
            {{t
              (if
                this.buildingEntrance.isNew
                "ember-gwr.buildingEntrance.linkStreet.link"
                "ember-gwr.buildingEntrance.linkStreet.change"
              )
            }}
          </LinkTo>
        </span>
      </div>
      {{#if this.buildingEntrance.street.isNew}}
        <div uk-alert class="uk-alert-warning">{{t
            "ember-gwr.buildingEntrance.streetHint"
          }}</div>
      {{else}}
        <Field @attr="street.ESID" @disabled={{true}} readonly />
        <Field
          @attr="street.description.descriptionLong"
          @disabled={{true}}
          readonly
        />
        <Field
          @attr="street.streetKind"
          @type="select"
          @gwrEnumOptions={{this.Models.Street.streetKindOptions}}
          @convertValueTo="number"
          @disabled={{true}}
          readonly
        />
        <Field
          @attr="street.officialStreetNumber"
          @type="number"
          @disabled={{true}}
          readonly
        />
        <Field
          @attr="street.isOfficialDescription"
          @type="checkbox"
          @disabled={{true}}
          readonly
        />
      {{/if}}

    </ModelForm>
  {{/if}}
</div>
