<div>
  {{#if this.fetchBuildingEntrance.isRunning}}
    <Loading />
  {{else}}
    {{#if this.quarterlyClosure.disableForms}}
      <QuarterlyClosure::DisabledFormInfo />
    {{/if}}
    <ModelForm
      @model={{this.buildingEntrance}}
      @instanceId={{this.model.instanceId}}
      @validations={{this.BuildingEntranceValidations}}
      @onSubmit={{this.saveBuildingEntrance}}
      @translationBase="ember-gwr.buildingEntrance.fields"
      @errors={{this.errors}}
      @headerModel={{this.buildingEntrance}}
      @headerModelId={{this.buildingEntrance.EDID}}
      @headerModelDescription={{this.buildingEntrance.fullAddressText}}
      @projectId={{this.router.externalRouter.currentRoute.attributes.projectId}}
      @modelName="entrance"
      @importModelName="buildingEntrance"
      @statusConfiguration={{false}}
      @showImport={{this.showImport}}
      @importIndex={{this.importIndex}}
      @disabled={{or this.hasNoStreet this.quarterlyClosure.disableForms}}
      as |Field|
    >
      {{#unless this.buildingEntrance.isNew}}
        <Field @attr="EDID" @type="number" @disabled={{true}} />
        <Field @attr="EGAID" @type="number" @disabled={{true}} />
      {{/unless}}
      <Field
        @attr="locality.name.nameLong"
        @required={{true}}
        @disabled={{or
          this.quarterlyClosure.disableForms
          (not this.buildingEntrance.isNew)
        }}
      />
      <Field
        @attr="locality.swissZipCode"
        @type="number"
        @disabled={{or
          this.quarterlyClosure.disableForms
          (not this.buildingEntrance.isNew)
        }}
        @required={{true}}
      />
      {{#unless this.buildingEntrance.isNew}}
        <Field
          @attr="locality.swissZipCodeAddOn"
          @type="number"
          @disabled={{or
            this.quarterlyClosure.disableForms
            (not this.buildingEntrance.isNew)
          }}
        />
      {{/unless}}
      {{! API rejects any modification of the buildingEntranceNo or isOfficial
        fields on building entrances that are not linked to a street. }}
      <div
        uk-tooltip="title: {{if
          this.hasNoStreet
          (t 'ember-gwr.buildingEntrance.missingStreetInfo')
        }}
          ; container: {{this.config.modalContainer}}; pos: top-left"
      >
        <Field
          @attr="buildingEntranceNo"
          @disabled={{or this.quarterlyClosure.disableForms this.hasNoStreet}}
        />
        <Field
          @attr="isOfficialAddress"
          @type="checkbox"
          @disabled={{or this.quarterlyClosure.disableForms this.hasNoStreet}}
        />
      </div>
      {{#unless this.buildingEntrance.isNew}}
        <h3>
          {{t "ember-gwr.buildingEntrance.coordinates"}}
        </h3>
        <Field
          @attr="coordinates.north"
          @type="number"
          @step="0.001"
          @min="1070000.0"
          @max="1300000.999"
          @disabled={{true}}
        />
        <Field
          @attr="coordinates.east"
          @type="number"
          @step="0.001"
          @min="2480000.0"
          @max="2840000.999"
          @disabled={{true}}
        />
        <Field
          @attr="coordinates.originOfCoordinates"
          @type="select"
          @convertValueTo="number"
          @gwrEnumOptions={{this.Models.Coordinates.originOfCoordinatesOptions}}
          @disabled={{true}}
        />
        <LinkStreet
          @fieldComponent={{Field}}
          @buildingEntrance={{this.buildingEntrance}}
          @translationBase="ember-gwr.buildingEntrance.fields"
          @disabled={{this.quarterlyClosure.disableForms}}
        />
      {{/unless}}
    </ModelForm>
  {{/if}}
</div>
