<SubNav
  @backRoute={{this.backRoute}}
  @backText={{this.backRouteLabel}}
/>
<h1>
  {{t "ember-gwr.components.linkStreet.heading"}}
</h1>

<Search::Filters
  @search={{this.search}}
  @searchLabel={{t "ember-gwr.components.linkStreet.search"}}
  @baseQuery={{this.baseQuery}}
  as |Field|
>
  <div class="uk-flex uk-flex-column uk-flex-wrap">
    <div class="uk-flex uk-flex-between uk-flex-bottom uk-flex-wrap">
      <div class="uk-width-expand uk-width-1">
        <div class="uk-margin-right">
          <Field 
            @attr="locality.name.nameLong" 
            @translationBase="ember-gwr" 
            @disabled={{true}} 
            @value={{this.locality}}
          />
        </div>
      </div>
      <div class="uk-width-small uk-width-1">
        <div class="uk-margin-right">
          <Field 
            @attr="locality.swissZipCode" 
            @translationBase="ember-gwr" 
            @disabled={{true}} 
            @value={{this.PLZ4}}
          />
        </div>
      </div>
      <div class="uk-width-small uk-width-1">
        <Field 
          @attr="locality.swissZipCodeAddOn" 
          @translationBase="ember-gwr" 
          @disabled={{true}} 
          @value={{this.PLZ6}}
        />
      </div>
    </div>
    <div class="uk-width-expand uk-width-1">
      <Field
        @attr="description.descriptionLong"
        @translationBase="ember-gwr.street"
      />
    </div>
  </div>

</Search::Filters>

{{#if this.search.last}}
  <Search::ResultTable
    @results={{this.searchResults}}
    @loading={{this.search.isRunning}}
    as |Row|
  >
    <Search::ResultTable::Head as |Header|>
      <Header class="uk-table-shrink" @label={{t "ember-gwr.street.ESID"}} />
      <Header @label={{t "ember-gwr.street.description.descriptionLong"}} />
      <Header class="uk-table-shrink" @label={{t "ember-gwr.locality.name.nameLong"}} />
      <Header class="uk-table-shrink" @label={{t "ember-gwr.locality.swissZipCode"}} />
      <Header class="uk-table-shrink" @label={{t "ember-gwr.locality.swissZipCodeAddOn"}} />
    </Search::ResultTable::Head>
    <Row as |Field model|>
      <Field @attr="ESID" as |value|>
        <button
          class="uk-button uk-button-link"
          type="button"
          {{on "click" (fn this.setStreet model)}}
        >
          {{value}}
        </button>
      </Field>
      <Field @attr="description.descriptionLong" />
      <Field @attr="locality.name.nameLong" />
      <Field @attr="locality.swissZipCode" />
      <Field @attr="locality.swissZipCodeAddOn" />
    </Row>
  </Search::ResultTable>
{{/if}}
