<BackRoute @backRoute={{this.backRoute}} @backText={{this.backRouteLabel}} />

<h1>
  {{t "ember-gwr.components.linkStreet.heading"}}
</h1>

<Search @service={{this.street}} @baseQuery={{this.baseQuery}}>
  <:filters as |Filters|>
    <Filters
      @submitLabel={{t "ember-gwr.components.linkStreet.search"}}
      as |FilterInput|
    >
      <div class="uk-flex uk-flex-column uk-flex-wrap">
        <div class="uk-flex uk-flex-between uk-flex-bottom uk-flex-wrap">
          <div class="uk-width-expand uk-width-1">
            <div class="uk-margin-right">
              <FilterInput
                @name="locality.name.nameLong"
                @label={{t "ember-gwr.locality.name.nameLong"}}
                @disabled={{true}}
              />
            </div>
          </div>
          <div class="uk-width-small uk-width-1">
            <div class="uk-margin-right">
              <FilterInput
                @name="locality.swissZipCode"
                @label={{t "ember-gwr.locality.swissZipCode"}}
                @disabled={{true}}
              />
            </div>
          </div>
          <div class="uk-width-small uk-width-1">
            <FilterInput
              @name="locality.swissZipCodeAddOn"
              @label={{t "ember-gwr.locality.swissZipCodeAddOn"}}
              @disabled={{true}}
            />
          </div>
        </div>
        <div class="uk-width-expand uk-width-1">
          <FilterInput
            @name="description.descriptionLong"
            @label={{t "ember-gwr.building.street.description.descriptionLong"}}
          />
          <div uk-alert class="uk-flex uk-flex-middle uk-flex-between">
            <span>
              {{t "ember-gwr.components.linkStreet.searchHint"}}
            </span>

            <div class="uk-inline">
              <UkIcon @icon="question" />
              <div uk-dropdown class="uk-width-large">

                <b>{{t
                    "ember-gwr.components.linkStreet.searchHintExamples"
                  }}</b>
                <ul class="uk-list uk-list-collapse uk-list-bullet">
                  <li>{{t "ember-gwr.components.linkStreet.searchHintExamples1"}}</li>
                  <li>{{t "ember-gwr.components.linkStreet.searchHintExamples2"}}</li>
                  <li>{{t "ember-gwr.components.linkStreet.searchHintExamples3"}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </Filters>
  </:filters>

  <:results as |Results|>
    <Results as |TableHeader Rows|>
      <TableHeader as |HeaderColumn|>
        <HeaderColumn
          class="uk-table-shrink"
          @label={{t "ember-gwr.street.ESID"}}
        />
        <HeaderColumn
          @label={{t "ember-gwr.street.description.descriptionLong"}}
        />
        <HeaderColumn
          class="uk-table-shrink"
          @label={{t "ember-gwr.locality.name.nameLong"}}
        />
        <HeaderColumn
          class="uk-table-shrink"
          @label={{t "ember-gwr.locality.swissZipCode"}}
        />
        <HeaderColumn
          class="uk-table-shrink"
          @label={{t "ember-gwr.locality.swissZipCodeAddOn"}}
        />
      </TableHeader>

      <Rows as |TableRowColumn street|>
        <TableRowColumn @attr="ESID" as |value|>
          <button
            class="uk-button uk-button-link"
            type="button"
            {{on "click" (fn this.setStreet street)}}
          >
            {{value}}
          </button>
        </TableRowColumn>
        <TableRowColumn @attr="description.descriptionLong" />
        <TableRowColumn @attr="locality.name.nameLong" />
        <TableRowColumn @attr="locality.swissZipCode" />
        <TableRowColumn @attr="locality.swissZipCodeAddOn" />
      </Rows>
    </Results>
  </:results>
</Search>
