<ValidatedForm
  @model={{this.query}}
  @on-submit={{this.submit}}
  ...attributes
  as |Form|
>
  <div>
    {{yield Form.input}}

    {{#let Form.input as |Field|}}
      {{#if this.extendedSearch}}
        <div class="uk-flex uk-flex-between uk-margin-small-bottom">
          <div class="uk-width-1-2">
            <h3>
              {{t
                "ember-gwr.components.search.realestateIdentificationHeading"
              }}
            </h3>
            {{#if this.validationErrors.realestateIdentification}}
              <div class="uk-alert-danger" uk-alert>
                <p>
                  {{this.validationErrors.realestateIdentification}}
                </p>
              </div>
            {{/if}}
            <Field
              @label={{t
                "ember-gwr.components.search.realestateIdentification.EGRID"
              }}
              @name="realestateIdentification.EGRID"
              @type="number"
            />
            <Field
              @label={{t
                "ember-gwr.components.search.realestateIdentification.numberSuffix"
              }}
              @name="realestateIdentification.numberSuffix"
              @type="number"
            />
            <Field
              @label={{t
                "ember-gwr.components.search.realestateIdentification.subDistrict"
              }}
              @name="realestateIdentification.subDistrict"
              @type="number"
            />
            <Field
              @label={{t
                "ember-gwr.components.search.realestateIdentification.lot"
              }}
              @name="realestateIdentification.lot"
              @type="number"
            />
          </div>

          <div>
            <hr
              class="uk-divider-vertical uk-height-1-1 uk-margin-left uk-margin-right"
            />
          </div>

          <div class="uk-width-1-2">
            <div class="uk-margin">
              <h3>
                {{t "ember-gwr.components.search.createDateHeading"}}
              </h3>
              {{#if this.validationErrors.createDate}}
                <div class="uk-alert-danger" uk-alert>
                  <p>
                    {{this.validationErrors.createDate}}
                  </p>
                </div>
              {{/if}}
              <div class="uk-flex">
                <div class="uk-margin-small-right">
                  <Field
                    @label={{t
                      "ember-gwr.components.search.createDate.dateFrom"
                    }}
                    @name="createDate.dateFrom"
                    @noMargin={{true}}
                    @type="date"
                  />
                </div>
                <Field
                  @label={{t "ember-gwr.components.search.createDate.dateTo"}}
                  @name="createDate.dateTo"
                  @noMargin={{true}}
                  @type="date"
                />
              </div>
            </div>

            <div class="uk-margin">
              <h3>
                {{t "ember-gwr.components.search.modifyDateHeading"}}
              </h3>
              {{#if this.validationErrors.modifyDate}}
                <div class="uk-alert-danger" uk-alert>
                  <p>
                    {{this.validationErrors.modifyDate}}
                  </p>
                </div>
              {{/if}}
              <div class="uk-flex">
                <div class="uk-margin-small-right">
                  <Field
                    @label={{t
                      "ember-gwr.components.search.modifyDate.dateFrom"
                    }}
                    @name="modifyDate.dateFrom"
                    @noMargin={{true}}
                    @type="date"
                  />
                </div>
                <Field
                  @label={{t "ember-gwr.components.search.modifyDate.dateTo"}}
                  @name="modifyDate.dateTo"
                  @noMargin={{true}}
                  @type="date"
                />
              </div>
            </div>
          </div>
        </div>
      {{/if}}
    {{/let}}
    <div class="uk-flex uk-flex-right">
      {{#if @showExtendedSearch}}
        <UkButton
          class="uk-margin-small-right"
          {{on
            "click"
            (fn (mut this.extendedSearch) (not this.extendedSearch))
          }}
        >
          {{t
            (concat
              "ember-gwr.components.search.extendedSearch."
              (if this.extendedSearch "collapse" "extend")
            )
          }}
        </UkButton>
      {{/if}}
      <Form.submit @loading={{@search.isRunning}} @label={{@searchLabel}} />
    </div>
  </div>
</ValidatedForm>
