<ValidatedForm
  @model={{@changeset}}
  @on-submit={{perform @onSubmit @changeset}}
  class="validated-form"
  ...attributes
  as |Form|
>
  {{yield
    (component
      Form.input
      errorComponent=(component "validated-form-error")
      optionLabelPath="label"
      optionValuePath="value"
      optionTargetPath="value"
    )
    (component
      Form.input
      name="hasError"
      type="select"
      label=(t "ember-gwr.search.hasError")
      optionLabelPath="label"
      optionValuePath="value"
      optionTargetPath="value"
      options=this.errorOptions
      prompt=(t "ember-gwr.search.hasErrorPlaceholder")
      promptIsSelectable=true
      errorComponent=(component "validated-form-error")
    )
    Form
  }}
  {{#if (and @extendedSearch this.extendedSearchActive)}}
    {{#let
      (component
        Form.input
        errorComponent=(component "validated-form-error")
        disabled=(get Form.model @idField)
      )
      (component
        Form.input
        errorComponent=(component "validated-form-error")
        renderComponent=(component "model-form/date")
        disabled=(get Form.model @idField)
      )
      as |FilterInput FilterDateInput|
    }}
      <div class="uk-flex uk-flex-between uk-margin-small-bottom uk-margin-top">
        <div class="uk-width-1-2">
          <h3>
            {{t "ember-gwr.components.search.realestateIdentificationHeading"}}
          </h3>
          <FilterInput
            @name="realestateIdentification.number"
            @label={{t "ember-gwr.building.realestateIdentification.number"}}
          />
          <FilterInput
            @name="realestateIdentification.EGRID"
            @label={{t "ember-gwr.building.realestateIdentification.EGRID"}}
          />
          <FilterInput
            @name="realestateIdentification.subDistrict"
            @label={{t
              "ember-gwr.building.realestateIdentification.subDistrict"
            }}
            type="number"
          />
        </div>

        <div>
          <hr
            class="uk-divider-vertical uk-height-1-1 uk-margin-left uk-margin-right"
          />
        </div>

        <div class="uk-width-1-2">
          <div class="uk-margin">
            <h3>
              {{t "ember-gwr.components.search.createDateHeading"}}
            </h3>
            <div class="uk-flex">
              <div class="uk-width-1-2">
                <div class="uk-margin-small-right">
                  <FilterDateInput
                    @name="createDate.dateFrom"
                    @label={{t
                      "ember-gwr.components.search.createDate.dateFrom"
                    }}
                    @type="date"
                  />
                </div>
              </div>
              <div class="uk-width-1-2">
                <div class="uk-margin-small-right">
                  <FilterDateInput
                    @name="createDate.dateTo"
                    @label={{t "ember-gwr.components.search.createDate.dateTo"}}
                    @type="date"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="uk-margin">
            <h3>
              {{t "ember-gwr.components.search.modifyDateHeading"}}
            </h3>
            <div class="uk-flex">
              <div class="uk-width-1-2">
                <div class="uk-margin-small-right">
                  <FilterDateInput
                    @name="modifyDate.dateFrom"
                    @label={{t
                      "ember-gwr.components.search.modifyDate.dateFrom"
                    }}
                    @type="date"
                  />
                </div>
              </div>
              <div class="uk-width-1-2">
                <div class="uk-margin-small-right">
                  <FilterDateInput
                    @name="modifyDate.dateTo"
                    @label={{t "ember-gwr.components.search.modifyDate.dateTo"}}
                    @type="date"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {{/let}}
  {{/if}}

  <div class="uk-flex uk-flex-right">
    {{#if @extendedSearch}}
      <UkButton
        @label={{if
          this.extendedSearchActive
          (t "ember-gwr.components.search.extendedSearch.collapse")
          (t "ember-gwr.components.search.extendedSearch.extend")
        }}
        @value={{this.extendedSearchActive}}
        @onClick={{fn
          (mut this.extendedSearchActive)
          (not this.extendedSearchActive)
        }}
        class="uk-margin-small-right"
      />
    {{/if}}
    <Form.submit
      data-test-submit-btn
      @label={{@submitLabel}}
      @loading={{@onSubmit.isRunning}}
      @buttonComponent={{component "model-form/submit" color="primary"}}
    />
  </div>
</ValidatedForm>
