<div>
  {{#if this.fetchProject.isRunning}}
    <Loading />
  {{else}}
    <ModelForm
      @model={{this.project}}
      @instanceId={{this.model.instanceId}}
      @validations={{this.ConstructionProjectValidations}}
      @onSubmit={{this.saveProject}}
      @errors={{this.errors}}
      @translationBase="ember-gwr.constructionProject.fields"
      @showImport={{this.showImport}}
      @importIndex={{this.importIndex}}
      @headerModel={{this.project}}
      @headerModelId={{this.project.EPROID}}
      @projectId={{this.project.EPROID}}
      @modelName="project"
      @statusConfiguration={{this.statusConfiguration}}
      @modelStatusOptions={{this.choiceOptions.projectStatusOptions}}
      @nextValidStates={{this.nextValidStates}}
      @onStatusChange={{this.transitionState}}
      @onStatusCorrection={{this.correctState}}
      @getChangeParameters={{this.getChangeParameters}}
      @getCorrectionParameters={{this.getCorrectionParameters}}
      @getChangeHint={{fn
        this.gwr.getChangeHint
        this.constructionProject.cacheClass
      }}
      @modelStatusField="projectStatus"
      as |Field changeset import|
    >
      {{#unless this.project.isNew}}
        <div class="uk-flex">
          <div class="uk-width-1-3">
            <span class="uk-form-label">{{t
                "ember-gwr.constructionProject.fields.EPROID"
              }}:</span>
            <span>{{this.project.EPROID}}</span>
          </div>
          <div class="uk-width-1-3">
            <span class="uk-form-label">{{t
                "ember-gwr.constructionProject.fields.constructionLocalisation.municipalityName"
              }}:</span>
            <span
            >{{this.project.constructionLocalisation.municipalityName}}</span>
          </div>
          <div class="uk-width-1-3">
            <span class="uk-form-label">{{t
                "ember-gwr.constructionProject.fields.constructionSurveyDeptNumber"
              }}:</span>
            <span>{{this.project.constructionSurveyDeptNumber}}</span>
          </div>
        </div>
        <hr />
      {{/unless}}
      <Field
        @attr="officialConstructionProjectFileNo"
        @hint={{t
          "ember-gwr.constructionProject.fields.officialConstructionProjectFileNo.hint"
        }}
      />
      <Field
        @attr="extensionOfOfficialConstructionProjectFileNo"
        @type="number"
      />
      <Field
        @inputType="select"
        @convertValueTo="number"
        @required={{true}}
        @attr="typeOfConstructionProject"
        @gwrEnumOptions={{this.choiceOptions.typeOfConstructionProjectOptions}}
        @on-update={{fn (mut this.typeOfConstructionProject)}}
        @hint={{this.typeOfConstructionProjectHint}}
      />

      <LinkedModels
        @models={{this.project.work}}
        @modelName="building-work"
        @removeLink={{if this.hasRemoveWorkLink this.removeWorkLink}}
        @addLink={{this.addWorkLink}}
      >
        <:list as |model|>
          <td class="uk-table-expand uk-width-expand">
            <div class="uk-flex-inline uk-flex-middle">
              {{#if model.isNew}}
                <div class="uk-form-label uk-margin-small-right uk-margin">
                  {{t "ember-gwr.buildingWork.kindOfWork"}}:
                </div>

                <div class="uk-width-small">
                  <Field
                    @attr="kindOfWork"
                    @inputType="select"
                    @convertValueTo="number"
                    @noPlaceholder={{true}}
                    @gwrEnumOptions={{this.kindOfWorkOptions}}
                    @update={{fn this.updateWork model}}
                    @translationBase="ember-gwr.buildingWork"
                    @noMargin={{true}}
                    @noLabel={{true}}
                  />
                </div>
              {{else}}
                <div
                  class="uk-width-medium uk-margin-large-right uk-flex-inline uk-flex-middle"
                >
                  <div class="uk-form-label uk-margin-small-right">
                    {{t "ember-gwr.buildingWork.kindOfWork"}}:
                  </div>
                  <div>
                    {{t
                      (concat
                        "ember-gwr.buildingWork.kindOfWorkOptions."
                        model.kindOfWork
                      )
                    }}
                  </div>
                </div>
                <div class="uk-flex-inline uk-flex-middle">
                  <div class="uk-form-label uk-margin-small-right">
                    {{t "ember-gwr.buildingWork.ARBID"}}:
                  </div>
                  <div>
                    {{model.ARBID}}
                  </div>
                </div>
              {{/if}}
            </div>
          </td>
        </:list>
        <:buildingLink as |model|>
          <td class="uk-text-nowrap">
            {{t "ember-gwr.constructionProject.linkedWithBuilding"}}
            <LinkTo
              @route="building.edit.form"
              @query={{hash projectId=this.project.EPROID}}
              @model={{model.building.EGID}}
              class="uk-link"
            >
              {{model.building.EGID}}
            </LinkTo>
          </td>
        </:buildingLink>
      </LinkedModels>

      <Field
        @inputType="textarea"
        @required={{true}}
        @attr="constructionProjectDescription"
      />
      <Field
        @inputType="select"
        @convertValueTo="number"
        @required={{true}}
        @attr="typeOfPermit"
        @gwrEnumOptions={{this.choiceOptions.typeOfPermitOptions}}
      />
      <Field @type="number" @required={{true}} @attr="totalCostsOfProject" />
      <Field
        @inputType="select"
        @convertValueTo="number"
        @attr="typeOfConstruction"
        @gwrEnumOptions={{this.choiceOptions.typeOfConstructionOptions}}
        @required={{true}}
      />
      <h3>
        {{t "ember-gwr.components.modelForm.dates"}}
      </h3>
      <div
        class="uk-flex uk-flex-wrap
          {{if
            import
            'uk-child-width-1-1'
            'uk-child-width-1-4@l uk-child-width-1-3@m uk-child-width-1-2@s'
          }}"
      >
        {{#let
          (unless
            import
            "uk-padding uk-padding-remove-vertical uk-padding-remove-left"
          )
          as |spacingClass|
        }}
          <div class={{spacingClass}}>
            <Field
              @inputType="date"
              @attr="projectAnnouncementDate"
              @required={{true}}
            />
          </div>
          <div
            class="{{spacingClass}}
              {{if
                (not
                  (show-model-field 'buildingPermitIssueDate' changeset import)
                )
                'uk-hidden'
              }}"
          >
            <Field @inputType="date" @attr="buildingPermitIssueDate" />
          </div>
          <div
            class="{{spacingClass}}
              {{if
                (not (show-model-field 'projectStartDate' changeset import))
                'uk-hidden'
              }}"
          >
            <Field @inputType="date" @attr="projectStartDate" />
          </div>
          <div
            class="{{spacingClass}}
              {{if
                (not
                  (show-model-field 'projectCompletionDate' changeset import)
                )
                'uk-hidden'
              }}"
          >
            <Field @inputType="date" @attr="projectCompletionDate" />
          </div>
          <div
            class="{{spacingClass}}
              {{if
                (not
                  (show-model-field 'projectSuspensionDate' changeset import)
                )
                'uk-hidden'
              }}"
          >
            <Field @inputType="date" @attr="projectSuspensionDate" />
          </div>
          <div
            class="{{spacingClass}}
              {{if
                (not
                  (show-model-field
                    'constructionAuthorisationDeniedDate' changeset import
                  )
                )
                'uk-hidden'
              }}"
          >
            <Field
              @inputType="date"
              @attr="constructionAuthorisationDeniedDate"
            />
          </div>
          <div
            class="{{spacingClass}}
              {{if
                (not (show-model-field 'cancellationDate' changeset import))
                'uk-hidden'
              }}"
          >
            <Field @inputType="date" @attr="cancellationDate" />
          </div>
          <div
            class="{{spacingClass}}
              {{if
                (not (show-model-field 'withdrawalDate' changeset import))
                'uk-hidden'
              }}"
          >
            <Field @inputType="date" @attr="withdrawalDate" />
          </div>
        {{/let}}
      </div>
      {{#if
        (or
          (not this.project.isNew)
          (show-model-field "durationOfConstructionPhase" changeset import)
        )
      }}
        <Field
          @type="number"
          @attr="durationOfConstructionPhase"
          @hint={{t
            "ember-gwr.constructionProject.fields.durationOfConstructionPhase.hint"
          }}
        />
      {{/if}}
      <h3>
        {{t "ember-gwr.components.modelForm.realEstateHeading"}}
      </h3>
      <Field @attr="realestateIdentification.number" />
      <Field @attr="realestateIdentification.EGRID" />
      <Field @type="number" @attr="realestateIdentification.subDistrict" />
      <h3>
        {{t "ember-gwr.components.modelForm.clientHeading"}}
      </h3>
      <Field
        @inputType="select"
        @convertValueTo="number"
        @required={{true}}
        @attr="typeOfClient"
        @gwrEnumOptions={{this.choiceOptions.typeOfClientOptions}}
      />
      {{#if (compute this.isClientMismatch changeset)}}
        <div class="uk-alert uk-alert-danger">
          {{t "ember-gwr.constructionProject.fields.typeOfClientAlert"}}
        </div>
      {{/if}}
      {{#if
        (or
          (eq changeset.typeOfClient 6161)
          (and
            import
            import.data.client.identification.personIdentification.officialName
          )
        )
      }}
        <div class="uk-flex uk-margin">
          <div class="uk-width-1-2 uk-margin-small-right">
            <Field
              @attr="client.identification.personIdentification.officialName"
              @noMargin={{true}}
            />
          </div>
          <div class="uk-width-1-2">
            <Field
              @attr="client.identification.personIdentification.firstName"
              @noMargin={{true}}
            />
          </div>
        </div>
      {{else}}
        <div class="uk-flex uk-margin">
          <div class="uk-width-1-2 uk-margin-small-right">
            <Field
              @attr="client.identification.organisationIdentification.organisationName"
              @noMargin={{true}}
            />
          </div>
          <div class="uk-width-1-2">
            <Field
              @attr="client.identification.organisationIdentification.organisationAdditionalName"
              @noMargin={{true}}
            />
          </div>
        </div>
      {{/if}}
      <div class="{{unless import 'uk-flex'}} uk-margin">
        <div class={{if import "uk-margin" "uk-width-5-6"}}>
          <Field @attr="client.address.street" @noMargin={{true}} />
        </div>
        <div class={{unless import "uk-width-1-6 uk-margin-small-left"}}>
          <Field
            @type="number"
            @attr="client.address.houseNumber"
            @noMargin={{true}}
          />
        </div>
      </div>
      <Field @attr="client.address.addressLine2" />
      {{#if
        (or
          (eq changeset.client.address.country.countryNameShort "ch")
          (and import import.data.client.address.swissZipCode)
        )
      }}
        <div class="{{unless import 'uk-flex'}} uk-margin">
          <div
            class={{if import "uk-margin" "uk-width-1-2 uk-margin-small-right"}}
          >
            <Field
              @type="number"
              @attr="client.address.swissZipCode"
              @noMargin={{true}}
            />
          </div>
          <div class={{if import "uk-margin" "uk-width-1-2"}}>
            <Field
              @type="number"
              @attr="client.address.swissZipCodeAddOn"
              @noMargin={{true}}
            />
          </div>
        </div>
      {{else if
        (or
          changeset.client.address.country.countryNameShort
          (and import import.data.client.address.foreignZipCode)
        )
      }}
        <Field @type="number" @attr="client.address.foreignZipCode" />
      {{/if}}
      <Field
        @inputType="select"
        @attr="client.address.country.countryNameShort"
        @gwrEnumOptions={{this.choiceOptions.countryOptions}}
        @sortBy="label"
      />

      <h3>
        {{t "ember-gwr.constructionProject.sections.freeTextFields"}}
      </h3>

      <Field @attr="projectFreeText1" />
      <Field @attr="projectFreeText2" />
    </ModelForm>
  {{/if}}
</div>
