<div
  {{did-insert (perform this.fetchBuildings)}}
  {{did-update (perform this.fetchBuildings) @model}}
>
  {{#if this.fetchBuildings.isRunning}}
    <Loading />
  {{else}}
    <LinkedModels
      @models={{this.fetchBuildings.lastSuccessful.value}}
      @modelName="building"
      @removeLink={{this.removeBuildingLink}}
      @searchRoute="search-building"
      @searchQuery={{hash projectId=@model}}
      @newRoute="building.new"
      @newQuery={{hash projectId=@model}}
    >
      <:list as |model|>
        <td class="uk-table-shrink">
          <LinkTo
            @route="building.edit.form"
            @query={{hash projectId=@model}}
            @model={{model.building.EGID}}
            class="uk-link"
          >
            {{model.building.EGID}}
          </LinkTo>
        </td>
        <td>
          <ul class="uk-list">
            {{#each model.building.fullAddressTexts as |entrance|}}
              <li>
                {{entrance}}
              </li>
            {{/each}}
          </ul>
        </td>
        <td>
          {{model.building.nameOfBuilding}}
        </td>
        <td>
          {{t
            (concat
              "ember-gwr.buildingWork.kindOfWorkOptions." model.kindOfWork
            )
          }}
        </td>
      </:list>
    </LinkedModels>
    <div class="uk-flex uk-flex-middle uk-flex-center">
      <div>
        <span uk-icon="info" class="uk-margin-small-right"></span>
      </div>
      <div>
        {{t "ember-gwr.components.linkedModels.buildingInfo"}}
      </div>
    </div>
  {{/if}}
</div>
